<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.business.luckybox.game.mapper.GameMapper">
    <!--所有读取操作加上缓存，5分钟过期-->
    <cache type="com.anyex.apps.bean.RedisCache" eviction="LRU" flushInterval="300000"/>

    <!-- 基础列 -->
    <sql id="gameColumns">
        a.id as id,
        a.name as name,
        a.gameImgUrl as gameImgUrl,
        a.gameChips as gameChips,
        a.status as status,
        a.remark as remark,
        a.createTime as createTime,
        a.updateTime as updateTime
    </sql>

    <resultMap id="gameResultMap" type="com.anyex.apps.business.luckybox.game.entity.Game">
        <id column="ID" property="id" />
        <result column="name" property="name"/>
        <result column="gameImgUrl" property="gameImgUrl"/>
        <result column="gameChips" property="gameChips"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.business.luckybox.game.entity.Game">
        INSERT INTO Game(
            id ,
            name ,
            gameImgUrl ,
            gameChips ,
            status ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES (
            #{id} ,
            #{name} ,
            #{gameImgUrl} ,
            #{gameChips} ,
            #{status} ,
            #{remark} ,
            #{createTime} ,
            #{updateTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM Game WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE Game SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.business.luckybox.game.entity.Game">
        INSERT INTO Game
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="name != null">
                name ,
        </if>
        <if test="gameImgUrl != null">
                gameImgUrl ,
        </if>
        <if test="gameChips != null">
                gameChips ,
        </if>
        <if test="status != null">
                status ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateTime != null">
                updateTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="name != null">
                #{name} ,
        </if>
        <if test="gameImgUrl != null">
                #{gameImgUrl} ,
        </if>
        <if test="gameChips != null">
                #{gameChips} ,
        </if>
        <if test="status != null">
                #{status} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.business.luckybox.game.entity.Game">
        UPDATE Game
           <set>
            <if test="name != null">
                name = #{name} ,
            </if>
            <if test="gameImgUrl != null">
                gameImgUrl = #{gameImgUrl} ,
            </if>
            <if test="gameChips != null">
                gameChips = #{gameChips} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO Game(
            id ,
            name ,
            gameImgUrl ,
            gameChips ,
            status ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.name} ,
            #{item.gameImgUrl} ,
            #{item.gameChips} ,
            #{item.status} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE Game SET
            name = #{item.name} ,
            gameImgUrl = #{item.gameImgUrl} ,
            gameChips = #{item.gameChips} ,
            status = #{item.status} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateTime = #{item.updateTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.business.luckybox.game.entity.Game">
        UPDATE Game SET
            name = #{name} ,
            gameImgUrl = #{gameImgUrl} ,
            gameChips = #{gameChips} ,
            status = #{status} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.business.luckybox.game.entity.Game">
        SELECT <include refid="gameColumns"/>
        FROM Game a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.business.luckybox.game.entity.Game">
        SELECT
        <include refid="gameColumns"/>
        FROM Game a WHERE 1 = 1
        <if test="id != null">
            AND a.id = #{id}
        </if>
        <if test="name != null">
            AND a.name LIKE CONCAT('%',#{name}, '%') 
        </if>
        <if test="gameImgUrl != null">
            AND a.gameImgUrl LIKE CONCAT('%',#{gameImgUrl}, '%') 
        </if>
        <if test="gameChips != null">
            AND a.gameChips = #{gameChips}
        </if>
        <if test="status != null">
            AND a.status = #{status}
        </if>
        order by  a.createTime desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.business.luckybox.game.entity.Game">
        SELECT
        <include refid="gameColumns"/>
        FROM Game a
    </select>

</mapper>

