<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.base.mapper.UserInstrumentsFavoriteMapper">
    <!-- 基础列 -->
    <sql id="userInstrumentsFavoriteColumns">
        a.id as id,
        a.userId as userId,
        a.instType as instType,
        a.instId as instId,
        a.remark as remark,
        a.createTime as createTime,
        a.updateBy as updateBy,
        a.updateTime as updateTime
    </sql>

    <resultMap id="userInstrumentsFavoriteResultMap" type="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        <id column="ID" property="id" />
        <result column="userId" property="userId"/>
        <result column="instType" property="instType"/>
        <result column="instId" property="instId"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        INSERT INTO UserInstrumentsFavorite(
            id ,
            userId ,
            instType ,
            instId ,
            remark ,
            createTime ,
            updateBy ,
            updateTime 
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{instType} ,
            #{instId} ,
            #{remark} ,
            #{createTime} ,
            #{updateBy} ,
            #{updateTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM UserInstrumentsFavorite WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE UserInstrumentsFavorite SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        INSERT INTO UserInstrumentsFavorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="userId != null">
                userId ,
        </if>
        <if test="instType != null">
                instType ,
        </if>
        <if test="instId != null">
                instId ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateBy != null">
                updateBy ,
        </if>
        <if test="updateTime != null">
                updateTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="instType != null">
                #{instType} ,
        </if>
        <if test="instId != null">
                #{instId} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateBy != null">
                #{updateBy} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        UPDATE UserInstrumentsFavorite
           <set>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="instType != null">
                instType = #{instType} ,
            </if>
            <if test="instId != null">
                instId = #{instId} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO UserInstrumentsFavorite(
            id ,
            userId ,
            instType ,
            instId ,
            remark ,
            createTime ,
            updateBy ,
            updateTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.userId} ,
            #{item.instType} ,
            #{item.instId} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateBy} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE UserInstrumentsFavorite SET
            userId = #{item.userId} ,
            instType = #{item.instType} ,
            instId = #{item.instId} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateBy = #{item.updateBy} ,
            updateTime = #{item.updateTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        UPDATE UserInstrumentsFavorite SET
            userId = #{userId} ,
            instType = #{instType} ,
            instId = #{instId} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateBy = #{updateBy} ,
            updateTime = #{updateTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        SELECT <include refid="userInstrumentsFavoriteColumns"/> FROM UserInstrumentsFavorite a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        SELECT
        <include refid="userInstrumentsFavoriteColumns"/>
        FROM UserInstrumentsFavorite a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="instType != null and instType != ''">
            AND a.instType = #{instType}
        </if>
        <if test="instId != null and instId != ''">
            AND a.instId = #{instId}
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark = #{remark}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy = #{updateBy}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        SELECT
        <include refid="userInstrumentsFavoriteColumns"/>
        FROM UserInstrumentsFavorite a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="instType != null and instType != ''">
            AND a.instType LIKE CONCAT('%',#{instType}, '%')
        </if>
        <if test="instId != null and instId != ''">
            AND a.instId LIKE CONCAT('%',#{instId}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy LIKE CONCAT('%',#{updateBy}, '%')
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.base.entity.UserInstrumentsFavorite">
        SELECT
        <include refid="userInstrumentsFavoriteColumns"/>
        FROM UserInstrumentsFavorite a
    </select>


</mapper>

