<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.news.mapper.NewsFavoriteMapper">
    <!-- 基础列 -->
    <sql id="newsFavoriteColumns">
        a.id as id,
        a.newsId as newsId,
        a.favoriteAccountId as favoriteAccountId,
        a.lng as lng,
        a.lat as lat,
        a.remark as remark,
        a.createTime as createTime,
        a.updateTime as updateTime
    </sql>

    <resultMap id="newsFavoriteResultMap" type="com.anyex.apps.news.entity.NewsFavorite">
        <id column="ID" property="id" />
        <result column="newsId" property="newsId"/>
        <result column="favoriteAccountId" property="favoriteAccountId"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.news.entity.NewsFavorite">
        INSERT INTO NewsFavorite(
            id ,
            newsId ,
            favoriteAccountId ,
            lng ,
            lat ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES (
            #{id} ,
            #{newsId} ,
            #{favoriteAccountId} ,
            #{lng} ,
            #{lat} ,
            #{remark} ,
            #{createTime} ,
            #{updateTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM NewsFavorite WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE NewsFavorite SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.news.entity.NewsFavorite">
        INSERT INTO NewsFavorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="newsId != null">
                newsId ,
        </if>
        <if test="favoriteAccountId != null">
                favoriteAccountId ,
        </if>
        <if test="lng != null">
                lng ,
        </if>
        <if test="lat != null">
                lat ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateTime != null">
                updateTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="newsId != null">
                #{newsId} ,
        </if>
        <if test="favoriteAccountId != null">
                #{favoriteAccountId} ,
        </if>
        <if test="lng != null">
                #{lng} ,
        </if>
        <if test="lat != null">
                #{lat} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.news.entity.NewsFavorite">
        UPDATE NewsFavorite
           <set>
            <if test="newsId != null">
                newsId = #{newsId} ,
            </if>
            <if test="favoriteAccountId != null">
                favoriteAccountId = #{favoriteAccountId} ,
            </if>
            <if test="lng != null">
                lng = #{lng} ,
            </if>
            <if test="lat != null">
                lat = #{lat} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO NewsFavorite(
            id ,
            newsId ,
            favoriteAccountId ,
            lng ,
            lat ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.newsId} ,
            #{item.favoriteAccountId} ,
            #{item.lng} ,
            #{item.lat} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE NewsFavorite SET
            newsId = #{item.newsId} ,
            favoriteAccountId = #{item.favoriteAccountId} ,
            lng = #{item.lng} ,
            lat = #{item.lat} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateTime = #{item.updateTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.news.entity.NewsFavorite">
        UPDATE NewsFavorite SET
            newsId = #{newsId} ,
            favoriteAccountId = #{favoriteAccountId} ,
            lng = #{lng} ,
            lat = #{lat} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.news.entity.NewsFavorite">
        SELECT <include refid="newsFavoriteColumns"/> FROM NewsFavorite a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.news.entity.NewsFavorite">
        SELECT
        <include refid="newsFavoriteColumns"/>
        FROM NewsFavorite a WHERE 1 = 1
        <if test="newsId != null">
            AND a.newsId = #{newsId}
        </if>
        <if test="favoriteAccountId != null">
            AND a.favoriteAccountId = #{favoriteAccountId}
        </if>
        <if test="lng != null and lng != ''">
            AND a.lng LIKE CONCAT('%',#{lng}, '%')
        </if>
        <if test="lat != null and lat != ''">
            AND a.lat LIKE CONCAT('%',#{lat}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.news.entity.NewsFavorite">
        SELECT
        <include refid="newsFavoriteColumns"/>
        FROM NewsFavorite a
    </select>


</mapper>

