<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.business.luckybox.activity.mapper.ActivityHotDealsMapper">
    <!-- 基础列 -->
    <sql id="activityHotDealsColumns">
        a.id as id,
        a.activityName as activityName,
        a.skuId as skuId,
        a.spuId as spuId,
        a.activityPrice as activityPrice,
        a.balancePayment as balancePayment,
        a.activitySumNum as activitySumNum,
        a.activityRobotNum as activityRobotNum,
        a.activitySumRound as activitySumRound,
        a.activitySumStock as activitySumStock,
        a.activityStartTime as activityStartTime,
        a.activityEndTime as activityEndTime,
        a.status as status,
        a.actCurrentRound as actCurrentRound,
        a.actCurrentPurchasedNum as actCurrentPurchasedNum,
        a.actCurrentAccountNum as actCurrentAccountNum,
        a.remark as remark,
        a.createTime as createTime,
        a.updateTime as updateTime
    </sql>
    <!-- 基础列 -->
    <sql id="activityHotDealsColumnsJoinGoodsSku">
        a.id as id,
        a.activityName as activityName,
        a.skuId as skuId,
        a.spuId as spuId,
        a.activityPrice as activityPrice,
        a.balancePayment as balancePayment,
        a.activitySumNum as activitySumNum,
        a.activityRobotNum as activityRobotNum,
        a.activitySumRound as activitySumRound,
        a.activitySumStock as activitySumStock,
        a.activityStartTime as activityStartTime,
        a.activityEndTime as activityEndTime,
        a.status as status,
        a.actCurrentRound as actCurrentRound,
        a.actCurrentPurchasedNum as actCurrentPurchasedNum,
        a.actCurrentAccountNum as actCurrentAccountNum,
        a.remark as remark,
        a.createTime as createTime,
        a.updateTime as updateTime,
        sku.title as title,
        sku.subTitle as subTitle,
        sku.sellingPoint as sellingPoint,
        sku.iconImage as iconImage,
        sku.mainImages as mainImages,
        sku.detailImages as detailImages,
        sku.price as price,
        sku.stock as stock,
        sku.param as param,
        sku.description as description
    </sql>

    <resultMap id="activityHotDealsResultMap" type="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        <id column="ID" property="id" />
        <result column="activityName" property="activityName"/>
        <result column="skuId" property="skuId"/>
        <result column="spuId" property="spuId"/>
        <result column="activityPrice" property="activityPrice"/>
        <result column="balancePayment" property="balancePayment"/>
        <result column="activitySumNum" property="activitySumNum"/>
        <result column="activityRobotNum" property="activityRobotNum"/>
        <result column="activitySumRound" property="activitySumRound"/>
        <result column="activitySumStock" property="activitySumStock"/>
        <result column="activityStartTime" property="activityStartTime"/>
        <result column="activityEndTime" property="activityEndTime"/>
        <result column="status" property="status"/>
        <result column="actCurrentRound" property="actCurrentRound"/>
        <result column="actCurrentPurchasedNum" property="actCurrentPurchasedNum"/>
        <result column="actCurrentAccountNum" property="actCurrentAccountNum"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        INSERT INTO ActivityHotDeals(
            id ,
            activityName ,
            skuId ,
            spuId ,
            activityPrice ,
            balancePayment ,
            activitySumNum ,
            activityRobotNum ,
            activitySumRound ,
            activitySumStock ,
            activityStartTime ,
            activityEndTime ,
            status ,
            actCurrentRound ,
            actCurrentPurchasedNum ,
            actCurrentAccountNum ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES (
            #{id} ,
            #{activityName} ,
            #{skuId} ,
            #{spuId} ,
            #{activityPrice} ,
            #{balancePayment} ,
            #{activitySumNum} ,
            #{activityRobotNum} ,
            #{activitySumRound} ,
            #{activitySumStock} ,
            #{activityStartTime} ,
            #{activityEndTime} ,
            #{status} ,
            #{actCurrentRound} ,
            #{actCurrentPurchasedNum} ,
            #{actCurrentAccountNum} ,
            #{remark} ,
            #{createTime} ,
            #{updateTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ActivityHotDeals WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ActivityHotDeals SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        INSERT INTO ActivityHotDeals
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="activityName != null">
                activityName ,
        </if>
        <if test="skuId != null">
                skuId ,
        </if>
        <if test="spuId != null">
                spuId ,
        </if>
        <if test="activityPrice != null">
                activityPrice ,
        </if>
        <if test="balancePayment != null">
                balancePayment ,
        </if>
        <if test="activitySumNum != null">
                activitySumNum ,
        </if>
        <if test="activityRobotNum != null">
                activityRobotNum ,
        </if>
        <if test="activitySumRound != null">
                activitySumRound ,
        </if>
        <if test="activitySumStock != null">
                activitySumStock ,
        </if>
        <if test="activityStartTime != null">
                activityStartTime ,
        </if>
        <if test="activityEndTime != null">
                activityEndTime ,
        </if>
        <if test="status != null">
                status ,
        </if>
        <if test="actCurrentRound != null">
                actCurrentRound ,
        </if>
        <if test="actCurrentPurchasedNum != null">
                actCurrentPurchasedNum ,
        </if>
        <if test="actCurrentAccountNum != null">
                actCurrentAccountNum ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateTime != null">
                updateTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="activityName != null">
                #{activityName} ,
        </if>
        <if test="skuId != null">
                #{skuId} ,
        </if>
        <if test="spuId != null">
                #{spuId} ,
        </if>
        <if test="activityPrice != null">
                #{activityPrice} ,
        </if>
        <if test="balancePayment != null">
                #{balancePayment} ,
        </if>
        <if test="activitySumNum != null">
                #{activitySumNum} ,
        </if>
        <if test="activityRobotNum != null">
                #{activityRobotNum} ,
        </if>
        <if test="activitySumRound != null">
                #{activitySumRound} ,
        </if>
        <if test="activitySumStock != null">
                #{activitySumStock} ,
        </if>
        <if test="activityStartTime != null">
                #{activityStartTime} ,
        </if>
        <if test="activityEndTime != null">
                #{activityEndTime} ,
        </if>
        <if test="status != null">
                #{status} ,
        </if>
        <if test="actCurrentRound != null">
                #{actCurrentRound} ,
        </if>
        <if test="actCurrentPurchasedNum != null">
                #{actCurrentPurchasedNum} ,
        </if>
        <if test="actCurrentAccountNum != null">
                #{actCurrentAccountNum} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        UPDATE ActivityHotDeals
           <set>
            <if test="activityName != null">
                activityName = #{activityName} ,
            </if>
            <if test="skuId != null">
                skuId = #{skuId} ,
            </if>
            <if test="spuId != null">
                spuId = #{spuId} ,
            </if>
            <if test="activityPrice != null">
                activityPrice = #{activityPrice} ,
            </if>
            <if test="balancePayment != null">
                balancePayment = #{balancePayment} ,
            </if>
            <if test="activitySumNum != null">
                activitySumNum = #{activitySumNum} ,
            </if>
            <if test="activityRobotNum != null">
                activityRobotNum = #{activityRobotNum} ,
            </if>
            <if test="activitySumRound != null">
                activitySumRound = #{activitySumRound} ,
            </if>
            <if test="activitySumStock != null">
                activitySumStock = #{activitySumStock} ,
            </if>
            <if test="activityStartTime != null">
                activityStartTime = #{activityStartTime} ,
            </if>
            <if test="activityEndTime != null">
                activityEndTime = #{activityEndTime} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="actCurrentRound != null">
                actCurrentRound = #{actCurrentRound} ,
            </if>
            <if test="actCurrentPurchasedNum != null">
                actCurrentPurchasedNum = #{actCurrentPurchasedNum} ,
            </if>
            <if test="actCurrentAccountNum != null">
                actCurrentAccountNum = #{actCurrentAccountNum} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ActivityHotDeals(
            id ,
            activityName ,
            skuId ,
            spuId ,
            activityPrice ,
            balancePayment ,
            activitySumNum ,
            activityRobotNum ,
            activitySumRound ,
            activitySumStock ,
            activityStartTime ,
            activityEndTime ,
            status ,
            actCurrentRound ,
            actCurrentPurchasedNum ,
            actCurrentAccountNum ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.activityName} ,
            #{item.skuId} ,
            #{item.spuId} ,
            #{item.activityPrice} ,
            #{item.balancePayment} ,
            #{item.activitySumNum} ,
            #{item.activityRobotNum} ,
            #{item.activitySumRound} ,
            #{item.activitySumStock} ,
            #{item.activityStartTime} ,
            #{item.activityEndTime} ,
            #{item.status} ,
            #{item.actCurrentRound} ,
            #{item.actCurrentPurchasedNum} ,
            #{item.actCurrentAccountNum} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE ActivityHotDeals SET
            activityName = #{item.activityName} ,
            skuId = #{item.skuId} ,
            spuId = #{item.spuId} ,
            activityPrice = #{item.activityPrice} ,
            balancePayment = #{item.balancePayment} ,
            activitySumNum = #{item.activitySumNum} ,
            activityRobotNum = #{item.activityRobotNum} ,
            activitySumRound = #{item.activitySumRound} ,
            activitySumStock = #{item.activitySumStock} ,
            activityStartTime = #{item.activityStartTime} ,
            activityEndTime = #{item.activityEndTime} ,
            status = #{item.status} ,
            actCurrentRound = #{item.actCurrentRound} ,
            actCurrentPurchasedNum = #{item.actCurrentPurchasedNum} ,
            actCurrentAccountNum = #{item.actCurrentAccountNum} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateTime = #{item.updateTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        UPDATE ActivityHotDeals SET
            activityName = #{activityName} ,
            skuId = #{skuId} ,
            spuId = #{spuId} ,
            activityPrice = #{activityPrice} ,
            balancePayment = #{balancePayment} ,
            activitySumNum = #{activitySumNum} ,
            activityRobotNum = #{activityRobotNum} ,
            activitySumRound = #{activitySumRound} ,
            activitySumStock = #{activitySumStock} ,
            activityStartTime = #{activityStartTime} ,
            activityEndTime = #{activityEndTime} ,
            status = #{status} ,
            actCurrentRound = #{actCurrentRound} ,
            actCurrentPurchasedNum = #{actCurrentPurchasedNum} ,
            actCurrentAccountNum = #{actCurrentAccountNum} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        SELECT <include refid="activityHotDealsColumnsJoinGoodsSku"/>
        FROM ActivityHotDeals a left join GoodsSku sku on a.skuId = sku.id
        WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        SELECT
        <include refid="activityHotDealsColumnsJoinGoodsSku"/>
        FROM ActivityHotDeals a left join GoodsSku sku on a.skuId = sku.id
        WHERE 1 = 1
        <if test="id != null">
            AND a.id = #{id}
        </if>
        <if test="activityName != null">
            AND a.activityName LIKE CONCAT('%',#{activityName}, '%') 
        </if>
        <if test="skuId != null">
            AND a.skuId = #{skuId}
        </if>
        <if test="spuId != null">
            AND a.spuId = #{spuId}
        </if>
        <if test="activityPrice != null">
            AND a.activityPrice = #{activityPrice}
        </if>
        <if test="balancePayment != null">
            AND a.balancePayment = #{balancePayment}
        </if>
        <if test="activitySumNum != null">
            AND a.activitySumNum = #{activitySumNum}
        </if>
        <if test="activityRobotNum != null">
            AND a.activityRobotNum = #{activityRobotNum}
        </if>
        <if test="activitySumRound != null">
            AND a.activitySumRound = #{activitySumRound}
        </if>
        <if test="activitySumStock != null">
            AND a.activitySumStock = #{activitySumStock}
        </if>
        <if test="activityStartTime != null">
            AND a.activityStartTime = #{activityStartTime}
        </if>
        <if test="activityEndTime != null">
            AND a.activityEndTime = #{activityEndTime}
        </if>
        <if test="status != null">
            AND a.status = #{status}
        </if>
        <if test="actCurrentRound != null">
            AND a.actCurrentRound = #{actCurrentRound}
        </if>
        <if test="actCurrentPurchasedNum != null">
            AND a.actCurrentPurchasedNum = #{actCurrentPurchasedNum}
        </if>
        <if test="actCurrentAccountNum != null">
            AND a.actCurrentAccountNum = #{actCurrentAccountNum}
        </if>
        order by  a.createTime desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.business.luckybox.activity.entity.ActivityHotDeals">
        SELECT
        <include refid="activityHotDealsColumns"/>
        FROM ActivityHotDeals a
    </select>

</mapper>

