<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.account.mapper.AccountInviteStatisticsMapper">
    <!-- 基础列 -->
    <sql id="accountinvitestatisticsColumns">
                            id as id ,
                            accountId as accountId ,
                            inviteCnt as inviteCnt ,
                            inviteAwardedTotal as inviteAwardedTotal ,
                            rewardsLevel as rewardsLevel ,
                            remark as remark ,
                            createTime as createTime ,
                            updateTime as updateTime
                </sql>

    <resultMap id="AccountInviteStatisticsResultMap" type="com.anyex.apps.account.entity.AccountInviteStatistics">
                    <result column="id" property="id"/>
                    <result column="accountId" property="accountId"/>
                    <result column="inviteCnt" property="inviteCnt"/>
                    <result column="inviteAwardedTotal" property="inviteAwardedTotal"/>
                    <result column="rewardsLevel" property="rewardsLevel"/>
                    <result column="remark" property="remark"/>
                    <result column="createTime" property="createTime"/>
                    <result column="updateTime" property="updateTime"/>
            </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.account.entity.AccountInviteStatistics">
        INSERT INTO AccountInviteStatistics(
                            id ,
                            accountId ,
                            inviteCnt ,
                            inviteAwardedTotal ,
                            rewardsLevel ,
                            remark ,
                            createTime ,
                            updateTime
                    ) VALUES (
                                #{id} ,
                                #{accountId} ,
                                #{inviteCnt} ,
                                #{inviteAwardedTotal} ,
                                #{rewardsLevel} ,
                                #{remark} ,
                                #{createTime} ,
                                #{updateTime}
                        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE
        FROM AccountInviteStatistics WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE AccountInviteStatistics SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.account.entity.AccountInviteStatistics">
        INSERT INTO AccountInviteStatistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id ,
                </if>

                <if test="accountId != null">
                    accountId ,
                </if>

                <if test="inviteCnt != null">
                    inviteCnt ,
                </if>

                <if test="inviteAwardedTotal != null">
                    inviteAwardedTotal ,
                </if>

                <if test="rewardsLevel != null">
                    rewardsLevel ,
                </if>

                <if test="remark != null">
                    remark ,
                </if>

                <if test="createTime != null">
                    createTime ,
                </if>

                <if test="updateTime != null">
                    updateTime
                </if>


        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id} ,
                </if>

                <if test="accountId != null">
                    #{accountId} ,
                </if>

                <if test="inviteCnt != null">
                    #{inviteCnt} ,
                </if>

                <if test="inviteAwardedTotal != null">
                    #{inviteAwardedTotal} ,
                </if>

                <if test="rewardsLevel != null">
                    #{rewardsLevel} ,
                </if>

                <if test="remark != null">
                    #{remark} ,
                </if>

                <if test="createTime != null">
                    #{createTime} ,
                </if>

                <if test="updateTime != null">
                    #{updateTime}
                </if>

        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.account.entity.AccountInviteStatistics">
        UPDATE AccountInviteStatistics
        <set>
                    <if test="accountId != null">
                        accountId = #{accountId} ,
                    </if>
                    <if test="inviteCnt != null">
                        inviteCnt = #{inviteCnt} ,
                    </if>
                    <if test="inviteAwardedTotal != null">
                        inviteAwardedTotal = #{inviteAwardedTotal} ,
                    </if>
                    <if test="rewardsLevel != null">
                        rewardsLevel = #{rewardsLevel} ,
                    </if>

                    <if test="remark != null">
                        remark = #{remark} ,
                    </if>
                    <if test="createTime != null">
                        createTime = #{createTime} ,
                    </if>
                    <if test="updateTime != null">
                        updateTime = #{updateTime}
                    </if>
        </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO AccountInviteStatistics(
                    id ,
                    accountId ,
                    inviteCnt ,
                    inviteAwardedTotal ,
                    rewardsLevel ,
                    remark ,
                    createTime ,
                    updateTime
                ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id} ,
                #{item.accountId} ,
                #{item.inviteCnt} ,
                #{item.inviteAwardedTotal} ,
                #{item.rewardsLevel} ,
                #{item.remark} ,
                #{item.createTime} ,
                #{item.updateTime}
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE AccountInviteStatistics SET

                    accountId = #{item.accountId} ,
                    inviteCnt = #{item.inviteCnt} ,
                    inviteAwardedTotal = #{item.inviteAwardedTotal} ,
                    rewardsLevel = #{item.rewardsLevel} ,
                    remark = #{item.remark} ,
                    createTime = #{item.createTime} ,
                    updateTime = #{item.updateTime}
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.account.entity.AccountInviteStatistics">
        UPDATE AccountInviteStatistics SET
                    accountId = #{accountId} ,
                    inviteCnt = #{inviteCnt} ,
                    inviteAwardedTotal = #{inviteAwardedTotal} ,
                    rewardsLevel = #{rewardsLevel} ,
                    remark = #{remark} ,
                    createTime = #{createTime} ,
                    updateTime = #{updateTime}
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultType="com.anyex.apps.account.entity.AccountInviteStatistics">
        SELECT
        <include refid="accountinvitestatisticsColumns"/>
        FROM AccountInviteStatistics a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.account.entity.AccountInviteStatistics">
        SELECT
        <include refid="accountinvitestatisticsColumns"/>
        FROM AccountInviteStatistics a WHERE 1 = 1
        <if test="id != null">
            AND a.id = #{id}
        </if>

        <if test="accountId != null">
            AND a.accountId = #{accountId}
        </if>

        <if test="inviteCnt != null">
            AND a.inviteCnt = #{inviteCnt}
        </if>

        <if test="inviteAwardedTotal != null">
            AND a.inviteAwardedTotal = #{inviteAwardedTotal}
        </if>

        <if test="rewardsLevel != null">
            AND a.rewardsLevel = #{rewardsLevel}
        </if>

        <if test="remark != null">
            AND a.remark = #{remark}
        </if>

        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>

        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>

        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.account.entity.AccountInviteStatistics">
        SELECT
        <include refid="accountinvitestatisticsColumns"/>
        FROM AccountInviteStatistics a WHERE 1 = 1
        <if test="id != null">
            AND a.id = #{id}
        </if>

        <if test="accountId != null">
            AND a.accountId = #{accountId}
        </if>

        <if test="inviteCnt != null">
            AND a.inviteCnt = #{inviteCnt}
        </if>

        <if test="inviteAwardedTotal != null">
            AND a.inviteAwardedTotal = #{inviteAwardedTotal}
        </if>

        <if test="rewardsLevel != null">
            AND a.rewardsLevel = #{rewardsLevel}
        </if>

        <if test="remark != null">
            AND a.remark = #{remark}
        </if>

        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>

        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>

    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.account.entity.AccountInviteStatistics">
        SELECT
        <include refid="accountinvitestatisticsColumns"/>
        FROM AccountInviteStatistics a
    </select>


</mapper>

