<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.rwa.mapper.RwaBalancesTransHistoryMapper">
    <!-- 基础列 -->
    <sql id="rwaBalancesTransHistoryColumns">
        a.id as id,
        a.userId as userId,
        a.currency as currency,
        a.type as type,
        a.beforeBal as beforeBal,
        a.changeAmt as changeAmt,
        a.afterBal as afterBal,
        a.businessId as businessId,
        a.fromAcct as fromAcct,
        a.toAcct as toAcct,
        a.state as state,
        a.transDesc as transDesc,
        a.remark as remark,
        a.createTime as createTime
    </sql>

    <resultMap id="rwaBalancesTransHistoryResultMap" type="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        <id column="ID" property="id" />
        <result column="userId" property="userId"/>
        <result column="currency" property="currency"/>
        <result column="type" property="type"/>
        <result column="beforeBal" property="beforeBal"/>
        <result column="changeAmt" property="changeAmt"/>
        <result column="afterBal" property="afterBal"/>
        <result column="businessId" property="businessId"/>
        <result column="fromAcct" property="fromAcct"/>
        <result column="toAcct" property="toAcct"/>
        <result column="state" property="state"/>
        <result column="transDesc" property="transDesc"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        INSERT INTO RwaBalancesTransHistory(
            id ,
            userId ,
            currency ,
            type ,
            beforeBal ,
            changeAmt ,
            afterBal ,
            businessId ,
            fromAcct ,
            toAcct ,
            state ,
            transDesc ,
            remark ,
            createTime 
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{currency} ,
            #{type} ,
            #{beforeBal} ,
            #{changeAmt} ,
            #{afterBal} ,
            #{businessId} ,
            #{fromAcct} ,
            #{toAcct} ,
            #{state} ,
            #{transDesc} ,
            #{remark} ,
            #{createTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM RwaBalancesTransHistory WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE RwaBalancesTransHistory SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        INSERT INTO RwaBalancesTransHistory
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="userId != null">
                userId ,
        </if>
        <if test="currency != null">
                currency ,
        </if>
        <if test="type != null">
                type ,
        </if>
        <if test="beforeBal != null">
                beforeBal ,
        </if>
        <if test="changeAmt != null">
                changeAmt ,
        </if>
        <if test="afterBal != null">
                afterBal ,
        </if>
        <if test="businessId != null">
                businessId ,
        </if>
        <if test="fromAcct != null">
                fromAcct ,
        </if>
        <if test="toAcct != null">
                toAcct ,
        </if>
        <if test="state != null">
                state ,
        </if>
        <if test="transDesc != null">
                transDesc ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="currency != null">
                #{currency} ,
        </if>
        <if test="type != null">
                #{type} ,
        </if>
        <if test="beforeBal != null">
                #{beforeBal} ,
        </if>
        <if test="changeAmt != null">
                #{changeAmt} ,
        </if>
        <if test="afterBal != null">
                #{afterBal} ,
        </if>
        <if test="businessId != null">
                #{businessId} ,
        </if>
        <if test="fromAcct != null">
                #{fromAcct} ,
        </if>
        <if test="toAcct != null">
                #{toAcct} ,
        </if>
        <if test="state != null">
                #{state} ,
        </if>
        <if test="transDesc != null">
                #{transDesc} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        UPDATE RwaBalancesTransHistory
           <set>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="currency != null">
                currency = #{currency} ,
            </if>
            <if test="type != null">
                type = #{type} ,
            </if>
            <if test="beforeBal != null">
                beforeBal = #{beforeBal} ,
            </if>
            <if test="changeAmt != null">
                changeAmt = #{changeAmt} ,
            </if>
            <if test="afterBal != null">
                afterBal = #{afterBal} ,
            </if>
            <if test="businessId != null">
                businessId = #{businessId} ,
            </if>
            <if test="fromAcct != null">
                fromAcct = #{fromAcct} ,
            </if>
            <if test="toAcct != null">
                toAcct = #{toAcct} ,
            </if>
            <if test="state != null">
                state = #{state} ,
            </if>
            <if test="transDesc != null">
                transDesc = #{transDesc} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO RwaBalancesTransHistory(
            id ,
            userId ,
            currency ,
            type ,
            beforeBal ,
            changeAmt ,
            afterBal ,
            businessId ,
            fromAcct ,
            toAcct ,
            state ,
            transDesc ,
            remark ,
            createTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.userId} ,
            #{item.currency} ,
            #{item.type} ,
            #{item.beforeBal} ,
            #{item.changeAmt} ,
            #{item.afterBal} ,
            #{item.businessId} ,
            #{item.fromAcct} ,
            #{item.toAcct} ,
            #{item.state} ,
            #{item.transDesc} ,
            #{item.remark} ,
            #{item.createTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE RwaBalancesTransHistory SET
            userId = #{item.userId} ,
            currency = #{item.currency} ,
            type = #{item.type} ,
            beforeBal = #{item.beforeBal} ,
            changeAmt = #{item.changeAmt} ,
            afterBal = #{item.afterBal} ,
            businessId = #{item.businessId} ,
            fromAcct = #{item.fromAcct} ,
            toAcct = #{item.toAcct} ,
            state = #{item.state} ,
            transDesc = #{item.transDesc} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        UPDATE RwaBalancesTransHistory SET
            userId = #{userId} ,
            currency = #{currency} ,
            type = #{type} ,
            beforeBal = #{beforeBal} ,
            changeAmt = #{changeAmt} ,
            afterBal = #{afterBal} ,
            businessId = #{businessId} ,
            fromAcct = #{fromAcct} ,
            toAcct = #{toAcct} ,
            state = #{state} ,
            transDesc = #{transDesc} ,
            remark = #{remark} ,
            createTime = #{createTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        SELECT <include refid="rwaBalancesTransHistoryColumns"/> FROM RwaBalancesTransHistory a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        SELECT
        <include refid="rwaBalancesTransHistoryColumns"/>
        FROM RwaBalancesTransHistory a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="currency != null and currency != ''">
            AND a.currency = #{currency}
        </if>
        <if test="type != null and type != ''">
            AND a.type = #{type}
        </if>
        <if test="beforeBal != null">
            AND a.beforeBal = #{beforeBal}
        </if>
        <if test="changeAmt != null">
            AND a.changeAmt = #{changeAmt}
        </if>
        <if test="afterBal != null">
            AND a.afterBal = #{afterBal}
        </if>
        <if test="businessId != null and businessId != ''">
            AND a.businessId = #{businessId}
        </if>
        <if test="fromAcct != null and fromAcct != ''">
            AND a.fromAcct = #{fromAcct}
        </if>
        <if test="toAcct != null and toAcct != ''">
            AND a.toAcct = #{toAcct}
        </if>
        <if test="state != null and state != ''">
            AND a.state = #{state}
        </if>
        <if test="transDesc != null and transDesc != ''">
            AND a.transDesc = #{transDesc}
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark = #{remark}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        SELECT
        <include refid="rwaBalancesTransHistoryColumns"/>
        FROM RwaBalancesTransHistory a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="currency != null and currency != ''">
            AND a.currency LIKE CONCAT('%',#{currency}, '%')
        </if>
        <if test="type != null and type != ''">
            AND a.type LIKE CONCAT('%',#{type}, '%')
        </if>
        <if test="beforeBal != null">
            AND a.beforeBal = #{beforeBal}
        </if>
        <if test="changeAmt != null">
            AND a.changeAmt = #{changeAmt}
        </if>
        <if test="afterBal != null">
            AND a.afterBal = #{afterBal}
        </if>
        <if test="businessId != null and businessId != ''">
            AND a.businessId LIKE CONCAT('%',#{businessId}, '%')
        </if>
        <if test="fromAcct != null and fromAcct != ''">
            AND a.fromAcct LIKE CONCAT('%',#{fromAcct}, '%')
        </if>
        <if test="toAcct != null and toAcct != ''">
            AND a.toAcct LIKE CONCAT('%',#{toAcct}, '%')
        </if>
        <if test="state != null and state != ''">
            AND a.state LIKE CONCAT('%',#{state}, '%')
        </if>
        <if test="transDesc != null and transDesc != ''">
            AND a.transDesc LIKE CONCAT('%',#{transDesc}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.rwa.entity.RwaBalancesTransHistory">
        SELECT
        <include refid="rwaBalancesTransHistoryColumns"/>
        FROM RwaBalancesTransHistory a
    </select>


</mapper>

