<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.rwa.mapper.RwaCertInstSpvPromoterMapper">
    <!-- 基础列 -->
    <sql id="rwaCertInstSpvPromoterColumns">
        a.id as id,
        a.userId as userId,
        a.promoterCoName as promoterCoName,
        a.promoterCoType as promoterCoType,
        a.promoterCoRegistrNo as promoterCoRegistrNo,
        a.promoterCoRegistrImg as promoterCoRegistrImg,
        a.promoterCoCountry as promoterCoCountry,
        a.promoterCoEmail as promoterCoEmail,
        a.promoterCoMobileNo as promoterCoMobileNo,
        a.agentName as agentName,
        a.agentRegion as agentRegion,
        a.agentPassportType as agentPassportType,
        a.agentPassportNo as agentPassportNo,
        a.agentPassportImg1 as agentPassportImg1,
        a.agentPassportImg2 as agentPassportImg2,
        a.agentPassportImg3 as agentPassportImg3,
        a.agentAuthorizationFile as agentAuthorizationFile,
        a.agentEmail as agentEmail,
        a.agentMobileNo as agentMobileNo,
        a.state as state,
        a.remark as remark,
        a.createTime as createTime,
        a.updateBy as updateBy,
        a.updateTime as updateTime,
        a.checkBy as checkBy,
        a.checkTime as checkTime
    </sql>

    <resultMap id="rwaCertInstSpvPromoterResultMap" type="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        <id column="ID" property="id" />
        <result column="userId" property="userId"/>
        <result column="promoterCoName" property="promoterCoName"/>
        <result column="promoterCoType" property="promoterCoType"/>
        <result column="promoterCoRegistrNo" property="promoterCoRegistrNo"/>
        <result column="promoterCoRegistrImg" property="promoterCoRegistrImg"/>
        <result column="promoterCoCountry" property="promoterCoCountry"/>
        <result column="promoterCoEmail" property="promoterCoEmail"/>
        <result column="promoterCoMobileNo" property="promoterCoMobileNo"/>
        <result column="agentName" property="agentName"/>
        <result column="agentRegion" property="agentRegion"/>
        <result column="agentPassportType" property="agentPassportType"/>
        <result column="agentPassportNo" property="agentPassportNo"/>
        <result column="agentPassportImg1" property="agentPassportImg1"/>
        <result column="agentPassportImg2" property="agentPassportImg2"/>
        <result column="agentPassportImg3" property="agentPassportImg3"/>
        <result column="agentAuthorizationFile" property="agentAuthorizationFile"/>
        <result column="agentEmail" property="agentEmail"/>
        <result column="agentMobileNo" property="agentMobileNo"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
        <result column="checkBy" property="checkBy"/>
        <result column="checkTime" property="checkTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        INSERT INTO RwaCertInstSpvPromoter(
            id ,
            userId ,
            promoterCoName ,
            promoterCoType ,
            promoterCoRegistrNo ,
            promoterCoRegistrImg ,
            promoterCoCountry ,
            promoterCoEmail ,
            promoterCoMobileNo ,
            agentName ,
            agentRegion ,
            agentPassportType ,
            agentPassportNo ,
            agentPassportImg1 ,
            agentPassportImg2 ,
            agentPassportImg3 ,
            agentAuthorizationFile ,
            agentEmail ,
            agentMobileNo ,
            state ,
            remark ,
            createTime ,
            updateBy ,
            updateTime ,
            checkBy ,
            checkTime 
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{promoterCoName} ,
            #{promoterCoType} ,
            #{promoterCoRegistrNo} ,
            #{promoterCoRegistrImg} ,
            #{promoterCoCountry} ,
            #{promoterCoEmail} ,
            #{promoterCoMobileNo} ,
            #{agentName} ,
            #{agentRegion} ,
            #{agentPassportType} ,
            #{agentPassportNo} ,
            #{agentPassportImg1} ,
            #{agentPassportImg2} ,
            #{agentPassportImg3} ,
            #{agentAuthorizationFile} ,
            #{agentEmail} ,
            #{agentMobileNo} ,
            #{state} ,
            #{remark} ,
            #{createTime} ,
            #{updateBy} ,
            #{updateTime} ,
            #{checkBy} ,
            #{checkTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM RwaCertInstSpvPromoter WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE RwaCertInstSpvPromoter SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        INSERT INTO RwaCertInstSpvPromoter
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="userId != null">
                userId ,
        </if>
        <if test="promoterCoName != null">
                promoterCoName ,
        </if>
        <if test="promoterCoType != null">
                promoterCoType ,
        </if>
        <if test="promoterCoRegistrNo != null">
                promoterCoRegistrNo ,
        </if>
        <if test="promoterCoRegistrImg != null">
                promoterCoRegistrImg ,
        </if>
        <if test="promoterCoCountry != null">
                promoterCoCountry ,
        </if>
        <if test="promoterCoEmail != null">
                promoterCoEmail ,
        </if>
        <if test="promoterCoMobileNo != null">
                promoterCoMobileNo ,
        </if>
        <if test="agentName != null">
                agentName ,
        </if>
        <if test="agentRegion != null">
                agentRegion ,
        </if>
        <if test="agentPassportType != null">
                agentPassportType ,
        </if>
        <if test="agentPassportNo != null">
                agentPassportNo ,
        </if>
        <if test="agentPassportImg1 != null">
                agentPassportImg1 ,
        </if>
        <if test="agentPassportImg2 != null">
                agentPassportImg2 ,
        </if>
        <if test="agentPassportImg3 != null">
                agentPassportImg3 ,
        </if>
        <if test="agentAuthorizationFile != null">
                agentAuthorizationFile ,
        </if>
        <if test="agentEmail != null">
                agentEmail ,
        </if>
        <if test="agentMobileNo != null">
                agentMobileNo ,
        </if>
        <if test="state != null">
                state ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateBy != null">
                updateBy ,
        </if>
        <if test="updateTime != null">
                updateTime ,
        </if>
        <if test="checkBy != null">
                checkBy ,
        </if>
        <if test="checkTime != null">
                checkTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="promoterCoName != null">
                #{promoterCoName} ,
        </if>
        <if test="promoterCoType != null">
                #{promoterCoType} ,
        </if>
        <if test="promoterCoRegistrNo != null">
                #{promoterCoRegistrNo} ,
        </if>
        <if test="promoterCoRegistrImg != null">
                #{promoterCoRegistrImg} ,
        </if>
        <if test="promoterCoCountry != null">
                #{promoterCoCountry} ,
        </if>
        <if test="promoterCoEmail != null">
                #{promoterCoEmail} ,
        </if>
        <if test="promoterCoMobileNo != null">
                #{promoterCoMobileNo} ,
        </if>
        <if test="agentName != null">
                #{agentName} ,
        </if>
        <if test="agentRegion != null">
                #{agentRegion} ,
        </if>
        <if test="agentPassportType != null">
                #{agentPassportType} ,
        </if>
        <if test="agentPassportNo != null">
                #{agentPassportNo} ,
        </if>
        <if test="agentPassportImg1 != null">
                #{agentPassportImg1} ,
        </if>
        <if test="agentPassportImg2 != null">
                #{agentPassportImg2} ,
        </if>
        <if test="agentPassportImg3 != null">
                #{agentPassportImg3} ,
        </if>
        <if test="agentAuthorizationFile != null">
                #{agentAuthorizationFile} ,
        </if>
        <if test="agentEmail != null">
                #{agentEmail} ,
        </if>
        <if test="agentMobileNo != null">
                #{agentMobileNo} ,
        </if>
        <if test="state != null">
                #{state} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateBy != null">
                #{updateBy} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} ,
        </if>
        <if test="checkBy != null">
                #{checkBy} ,
        </if>
        <if test="checkTime != null">
                #{checkTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        UPDATE RwaCertInstSpvPromoter
           <set>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="promoterCoName != null">
                promoterCoName = #{promoterCoName} ,
            </if>
            <if test="promoterCoType != null">
                promoterCoType = #{promoterCoType} ,
            </if>
            <if test="promoterCoRegistrNo != null">
                promoterCoRegistrNo = #{promoterCoRegistrNo} ,
            </if>
            <if test="promoterCoRegistrImg != null">
                promoterCoRegistrImg = #{promoterCoRegistrImg} ,
            </if>
            <if test="promoterCoCountry != null">
                promoterCoCountry = #{promoterCoCountry} ,
            </if>
            <if test="promoterCoEmail != null">
                promoterCoEmail = #{promoterCoEmail} ,
            </if>
            <if test="promoterCoMobileNo != null">
                promoterCoMobileNo = #{promoterCoMobileNo} ,
            </if>
            <if test="agentName != null">
                agentName = #{agentName} ,
            </if>
            <if test="agentRegion != null">
                agentRegion = #{agentRegion} ,
            </if>
            <if test="agentPassportType != null">
                agentPassportType = #{agentPassportType} ,
            </if>
            <if test="agentPassportNo != null">
                agentPassportNo = #{agentPassportNo} ,
            </if>
            <if test="agentPassportImg1 != null">
                agentPassportImg1 = #{agentPassportImg1} ,
            </if>
            <if test="agentPassportImg2 != null">
                agentPassportImg2 = #{agentPassportImg2} ,
            </if>
            <if test="agentPassportImg3 != null">
                agentPassportImg3 = #{agentPassportImg3} ,
            </if>
            <if test="agentAuthorizationFile != null">
                agentAuthorizationFile = #{agentAuthorizationFile} ,
            </if>
            <if test="agentEmail != null">
                agentEmail = #{agentEmail} ,
            </if>
            <if test="agentMobileNo != null">
                agentMobileNo = #{agentMobileNo} ,
            </if>
            <if test="state != null">
                state = #{state} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="checkBy != null">
                checkBy = #{checkBy} ,
            </if>
            <if test="checkTime != null">
                checkTime = #{checkTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO RwaCertInstSpvPromoter(
            id ,
            userId ,
            promoterCoName ,
            promoterCoType ,
            promoterCoRegistrNo ,
            promoterCoRegistrImg ,
            promoterCoCountry ,
            promoterCoEmail ,
            promoterCoMobileNo ,
            agentName ,
            agentRegion ,
            agentPassportType ,
            agentPassportNo ,
            agentPassportImg1 ,
            agentPassportImg2 ,
            agentPassportImg3 ,
            agentAuthorizationFile ,
            agentEmail ,
            agentMobileNo ,
            state ,
            remark ,
            createTime ,
            updateBy ,
            updateTime ,
            checkBy ,
            checkTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.userId} ,
            #{item.promoterCoName} ,
            #{item.promoterCoType} ,
            #{item.promoterCoRegistrNo} ,
            #{item.promoterCoRegistrImg} ,
            #{item.promoterCoCountry} ,
            #{item.promoterCoEmail} ,
            #{item.promoterCoMobileNo} ,
            #{item.agentName} ,
            #{item.agentRegion} ,
            #{item.agentPassportType} ,
            #{item.agentPassportNo} ,
            #{item.agentPassportImg1} ,
            #{item.agentPassportImg2} ,
            #{item.agentPassportImg3} ,
            #{item.agentAuthorizationFile} ,
            #{item.agentEmail} ,
            #{item.agentMobileNo} ,
            #{item.state} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateBy} ,
            #{item.updateTime} ,
            #{item.checkBy} ,
            #{item.checkTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE RwaCertInstSpvPromoter SET
            userId = #{item.userId} ,
            promoterCoName = #{item.promoterCoName} ,
            promoterCoType = #{item.promoterCoType} ,
            promoterCoRegistrNo = #{item.promoterCoRegistrNo} ,
            promoterCoRegistrImg = #{item.promoterCoRegistrImg} ,
            promoterCoCountry = #{item.promoterCoCountry} ,
            promoterCoEmail = #{item.promoterCoEmail} ,
            promoterCoMobileNo = #{item.promoterCoMobileNo} ,
            agentName = #{item.agentName} ,
            agentRegion = #{item.agentRegion} ,
            agentPassportType = #{item.agentPassportType} ,
            agentPassportNo = #{item.agentPassportNo} ,
            agentPassportImg1 = #{item.agentPassportImg1} ,
            agentPassportImg2 = #{item.agentPassportImg2} ,
            agentPassportImg3 = #{item.agentPassportImg3} ,
            agentAuthorizationFile = #{item.agentAuthorizationFile} ,
            agentEmail = #{item.agentEmail} ,
            agentMobileNo = #{item.agentMobileNo} ,
            state = #{item.state} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateBy = #{item.updateBy} ,
            updateTime = #{item.updateTime} ,
            checkBy = #{item.checkBy} ,
            checkTime = #{item.checkTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        UPDATE RwaCertInstSpvPromoter SET
            userId = #{userId} ,
            promoterCoName = #{promoterCoName} ,
            promoterCoType = #{promoterCoType} ,
            promoterCoRegistrNo = #{promoterCoRegistrNo} ,
            promoterCoRegistrImg = #{promoterCoRegistrImg} ,
            promoterCoCountry = #{promoterCoCountry} ,
            promoterCoEmail = #{promoterCoEmail} ,
            promoterCoMobileNo = #{promoterCoMobileNo} ,
            agentName = #{agentName} ,
            agentRegion = #{agentRegion} ,
            agentPassportType = #{agentPassportType} ,
            agentPassportNo = #{agentPassportNo} ,
            agentPassportImg1 = #{agentPassportImg1} ,
            agentPassportImg2 = #{agentPassportImg2} ,
            agentPassportImg3 = #{agentPassportImg3} ,
            agentAuthorizationFile = #{agentAuthorizationFile} ,
            agentEmail = #{agentEmail} ,
            agentMobileNo = #{agentMobileNo} ,
            state = #{state} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateBy = #{updateBy} ,
            updateTime = #{updateTime} ,
            checkBy = #{checkBy} ,
            checkTime = #{checkTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        SELECT <include refid="rwaCertInstSpvPromoterColumns"/> FROM RwaCertInstSpvPromoter a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        SELECT
        <include refid="rwaCertInstSpvPromoterColumns"/>
        FROM RwaCertInstSpvPromoter a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="promoterCoName != null and promoterCoName != ''">
            AND a.promoterCoName = #{promoterCoName}
        </if>
        <if test="promoterCoType != null and promoterCoType != ''">
            AND a.promoterCoType = #{promoterCoType}
        </if>
        <if test="promoterCoRegistrNo != null and promoterCoRegistrNo != ''">
            AND a.promoterCoRegistrNo = #{promoterCoRegistrNo}
        </if>
        <if test="promoterCoRegistrImg != null and promoterCoRegistrImg != ''">
            AND a.promoterCoRegistrImg = #{promoterCoRegistrImg}
        </if>
        <if test="promoterCoCountry != null and promoterCoCountry != ''">
            AND a.promoterCoCountry = #{promoterCoCountry}
        </if>
        <if test="promoterCoEmail != null and promoterCoEmail != ''">
            AND a.promoterCoEmail = #{promoterCoEmail}
        </if>
        <if test="promoterCoMobileNo != null and promoterCoMobileNo != ''">
            AND a.promoterCoMobileNo = #{promoterCoMobileNo}
        </if>
        <if test="agentName != null and agentName != ''">
            AND a.agentName = #{agentName}
        </if>
        <if test="agentRegion != null and agentRegion != ''">
            AND a.agentRegion = #{agentRegion}
        </if>
        <if test="agentPassportType != null and agentPassportType != ''">
            AND a.agentPassportType = #{agentPassportType}
        </if>
        <if test="agentPassportNo != null and agentPassportNo != ''">
            AND a.agentPassportNo = #{agentPassportNo}
        </if>
        <if test="agentPassportImg1 != null and agentPassportImg1 != ''">
            AND a.agentPassportImg1 = #{agentPassportImg1}
        </if>
        <if test="agentPassportImg2 != null and agentPassportImg2 != ''">
            AND a.agentPassportImg2 = #{agentPassportImg2}
        </if>
        <if test="agentPassportImg3 != null and agentPassportImg3 != ''">
            AND a.agentPassportImg3 = #{agentPassportImg3}
        </if>
        <if test="agentAuthorizationFile != null and agentAuthorizationFile != ''">
            AND a.agentAuthorizationFile = #{agentAuthorizationFile}
        </if>
        <if test="agentEmail != null and agentEmail != ''">
            AND a.agentEmail = #{agentEmail}
        </if>
        <if test="agentMobileNo != null and agentMobileNo != ''">
            AND a.agentMobileNo = #{agentMobileNo}
        </if>
        <if test="state != null and state != ''">
            AND a.state = #{state}
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark = #{remark}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy = #{updateBy}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        <if test="checkBy != null and checkBy != ''">
            AND a.checkBy = #{checkBy}
        </if>
        <if test="checkTime != null">
            AND a.checkTime = #{checkTime}
        </if>
        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        SELECT
        <include refid="rwaCertInstSpvPromoterColumns"/>
        FROM RwaCertInstSpvPromoter a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="promoterCoName != null and promoterCoName != ''">
            AND a.promoterCoName LIKE CONCAT('%',#{promoterCoName}, '%')
        </if>
        <if test="promoterCoType != null and promoterCoType != ''">
            AND a.promoterCoType LIKE CONCAT('%',#{promoterCoType}, '%')
        </if>
        <if test="promoterCoRegistrNo != null and promoterCoRegistrNo != ''">
            AND a.promoterCoRegistrNo LIKE CONCAT('%',#{promoterCoRegistrNo}, '%')
        </if>
        <if test="promoterCoRegistrImg != null and promoterCoRegistrImg != ''">
            AND a.promoterCoRegistrImg LIKE CONCAT('%',#{promoterCoRegistrImg}, '%')
        </if>
        <if test="promoterCoCountry != null and promoterCoCountry != ''">
            AND a.promoterCoCountry LIKE CONCAT('%',#{promoterCoCountry}, '%')
        </if>
        <if test="promoterCoEmail != null and promoterCoEmail != ''">
            AND a.promoterCoEmail LIKE CONCAT('%',#{promoterCoEmail}, '%')
        </if>
        <if test="promoterCoMobileNo != null and promoterCoMobileNo != ''">
            AND a.promoterCoMobileNo LIKE CONCAT('%',#{promoterCoMobileNo}, '%')
        </if>
        <if test="agentName != null and agentName != ''">
            AND a.agentName LIKE CONCAT('%',#{agentName}, '%')
        </if>
        <if test="agentRegion != null and agentRegion != ''">
            AND a.agentRegion LIKE CONCAT('%',#{agentRegion}, '%')
        </if>
        <if test="agentPassportType != null and agentPassportType != ''">
            AND a.agentPassportType LIKE CONCAT('%',#{agentPassportType}, '%')
        </if>
        <if test="agentPassportNo != null and agentPassportNo != ''">
            AND a.agentPassportNo LIKE CONCAT('%',#{agentPassportNo}, '%')
        </if>
        <if test="agentPassportImg1 != null and agentPassportImg1 != ''">
            AND a.agentPassportImg1 LIKE CONCAT('%',#{agentPassportImg1}, '%')
        </if>
        <if test="agentPassportImg2 != null and agentPassportImg2 != ''">
            AND a.agentPassportImg2 LIKE CONCAT('%',#{agentPassportImg2}, '%')
        </if>
        <if test="agentPassportImg3 != null and agentPassportImg3 != ''">
            AND a.agentPassportImg3 LIKE CONCAT('%',#{agentPassportImg3}, '%')
        </if>
        <if test="agentAuthorizationFile != null and agentAuthorizationFile != ''">
            AND a.agentAuthorizationFile LIKE CONCAT('%',#{agentAuthorizationFile}, '%')
        </if>
        <if test="agentEmail != null and agentEmail != ''">
            AND a.agentEmail LIKE CONCAT('%',#{agentEmail}, '%')
        </if>
        <if test="agentMobileNo != null and agentMobileNo != ''">
            AND a.agentMobileNo LIKE CONCAT('%',#{agentMobileNo}, '%')
        </if>
        <if test="state != null and state != ''">
            AND a.state LIKE CONCAT('%',#{state}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy LIKE CONCAT('%',#{updateBy}, '%')
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        <if test="checkBy != null and checkBy != ''">
            AND a.checkBy LIKE CONCAT('%',#{checkBy}, '%')
        </if>
        <if test="checkTime != null">
            AND a.checkTime = #{checkTime}
        </if>
        order by a.createTime desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.rwa.entity.RwaCertInstSpvPromoter">
        SELECT
        <include refid="rwaCertInstSpvPromoterColumns"/>
        FROM RwaCertInstSpvPromoter a
    </select>


</mapper>

