<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.rwa.mapper.RwaInstSpvProductMapper">
    <!-- 基础列 -->
    <sql id="rwaInstSpvProductColumns">
        a.id as id,
        a.userId as userId,
        a.instSpvPromoterId as instSpvPromoterId,
        a.instSpvCompanyId as instSpvCompanyId,
        a.productNo as productNo,
        a.tokenName as tokenName,
        a.tokenLogo as tokenLogo,
        a.tokenIssueNumber as tokenIssueNumber,
        a.raiseCurrency as raiseCurrency,
        a.raiseAmount as raiseAmount,
        a.assetEndValuation as assetEndValuation,
        a.issueDays as issueDays,
        a.purchaseStartDate as purchaseStartDate,
        a.purchaseEndDate as purchaseEndDate,
        a.operationStarDate as operationStarDate,
        a.operationEndDate as operationEndDate,
        a.raiseEstablishedRatio as raiseEstablishedRatio,
        a.companyAssetName as companyAssetName,
        a.companyAssetDesc as companyAssetDesc,
        a.companyRaiseUse as companyRaiseUse,
        a.dividendRatio as dividendRatio,
        a.dividendFrequency as dividendFrequency,
        a.dividendFreezeDays as dividendFreezeDays,
        a.raiseMarginRatio as raiseMarginRatio,
        a.raiseMarginState as raiseMarginState,
        a.purchasedSumAmount as purchasedSumAmount,
        a.state as state,
        a.remark as remark,
        a.createTime as createTime,
        a.updateBy as updateBy,
        a.updateTime as updateTime,
        a.checkBy as checkBy,
        a.checkTime as checkTime
    </sql>

    <resultMap id="rwaInstSpvProductResultMap" type="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        <id column="ID" property="id" />
        <result column="userId" property="userId"/>
        <result column="instSpvPromoterId" property="instSpvPromoterId"/>
        <result column="instSpvCompanyId" property="instSpvCompanyId"/>
        <result column="productNo" property="productNo"/>
        <result column="tokenName" property="tokenName"/>
        <result column="tokenLogo" property="tokenLogo"/>
        <result column="tokenIssueNumber" property="tokenIssueNumber"/>
        <result column="raiseCurrency" property="raiseCurrency"/>
        <result column="raiseAmount" property="raiseAmount"/>
        <result column="assetEndValuation" property="assetEndValuation"/>
        <result column="issueDays" property="issueDays"/>
        <result column="purchaseStartDate" property="purchaseStartDate"/>
        <result column="purchaseEndDate" property="purchaseEndDate"/>
        <result column="operationStarDate" property="operationStarDate"/>
        <result column="operationEndDate" property="operationEndDate"/>
        <result column="raiseEstablishedRatio" property="raiseEstablishedRatio"/>
        <result column="companyAssetName" property="companyAssetName"/>
        <result column="companyAssetDesc" property="companyAssetDesc"/>
        <result column="companyRaiseUse" property="companyRaiseUse"/>
        <result column="dividendRatio" property="dividendRatio"/>
        <result column="dividendFrequency" property="dividendFrequency"/>
        <result column="dividendFreezeDays" property="dividendFreezeDays"/>
        <result column="raiseMarginRatio" property="raiseMarginRatio"/>
        <result column="raiseMarginState" property="raiseMarginState"/>
        <result column="purchasedSumAmount" property="purchasedSumAmount"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
        <result column="checkBy" property="checkBy"/>
        <result column="checkTime" property="checkTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        INSERT INTO RwaInstSpvProduct(
            id ,
            userId ,
            instSpvPromoterId ,
            instSpvCompanyId ,
            productNo ,
            tokenName ,
            tokenLogo ,
            tokenIssueNumber ,
            raiseCurrency ,
            raiseAmount ,
            assetEndValuation ,
            issueDays ,
            purchaseStartDate ,
            purchaseEndDate ,
            operationStarDate ,
            operationEndDate ,
            raiseEstablishedRatio ,
            companyAssetName ,
            companyAssetDesc ,
            companyRaiseUse ,
            dividendRatio ,
            dividendFrequency ,
            dividendFreezeDays ,
            raiseMarginRatio ,
            raiseMarginState ,
            purchasedSumAmount ,
            state ,
            remark ,
            createTime ,
            updateBy ,
            updateTime ,
            checkBy ,
            checkTime 
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{instSpvPromoterId} ,
            #{instSpvCompanyId} ,
            #{productNo} ,
            #{tokenName} ,
            #{tokenLogo} ,
            #{tokenIssueNumber} ,
            #{raiseCurrency} ,
            #{raiseAmount} ,
            #{assetEndValuation} ,
            #{issueDays} ,
            #{purchaseStartDate} ,
            #{purchaseEndDate} ,
            #{operationStarDate} ,
            #{operationEndDate} ,
            #{raiseEstablishedRatio} ,
            #{companyAssetName} ,
            #{companyAssetDesc} ,
            #{companyRaiseUse} ,
            #{dividendRatio} ,
            #{dividendFrequency} ,
            #{dividendFreezeDays} ,
            #{raiseMarginRatio} ,
            #{raiseMarginState} ,
            #{purchasedSumAmount} ,
            #{state} ,
            #{remark} ,
            #{createTime} ,
            #{updateBy} ,
            #{updateTime} ,
            #{checkBy} ,
            #{checkTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM RwaInstSpvProduct WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE RwaInstSpvProduct SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        INSERT INTO RwaInstSpvProduct
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="userId != null">
                userId ,
        </if>
        <if test="instSpvPromoterId != null">
                instSpvPromoterId ,
        </if>
        <if test="instSpvCompanyId != null">
                instSpvCompanyId ,
        </if>
        <if test="productNo != null">
                productNo ,
        </if>
        <if test="tokenName != null">
                tokenName ,
        </if>
        <if test="tokenLogo != null">
                tokenLogo ,
        </if>
        <if test="tokenIssueNumber != null">
                tokenIssueNumber ,
        </if>
        <if test="raiseCurrency != null">
                raiseCurrency ,
        </if>
        <if test="raiseAmount != null">
                raiseAmount ,
        </if>
        <if test="assetEndValuation != null">
                assetEndValuation ,
        </if>
        <if test="issueDays != null">
                issueDays ,
        </if>
        <if test="purchaseStartDate != null">
                purchaseStartDate ,
        </if>
        <if test="purchaseEndDate != null">
                purchaseEndDate ,
        </if>
        <if test="operationStarDate != null">
                operationStarDate ,
        </if>
        <if test="operationEndDate != null">
                operationEndDate ,
        </if>
        <if test="raiseEstablishedRatio != null">
                raiseEstablishedRatio ,
        </if>
        <if test="companyAssetName != null">
                companyAssetName ,
        </if>
        <if test="companyAssetDesc != null">
                companyAssetDesc ,
        </if>
        <if test="companyRaiseUse != null">
                companyRaiseUse ,
        </if>
        <if test="dividendRatio != null">
                dividendRatio ,
        </if>
        <if test="dividendFrequency != null">
                dividendFrequency ,
        </if>
        <if test="dividendFreezeDays != null">
                dividendFreezeDays ,
        </if>
        <if test="raiseMarginRatio != null">
                raiseMarginRatio ,
        </if>
        <if test="raiseMarginState != null">
                raiseMarginState ,
        </if>
        <if test="purchasedSumAmount != null">
                purchasedSumAmount ,
        </if>
        <if test="state != null">
                state ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateBy != null">
                updateBy ,
        </if>
        <if test="updateTime != null">
                updateTime ,
        </if>
        <if test="checkBy != null">
                checkBy ,
        </if>
        <if test="checkTime != null">
                checkTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="instSpvPromoterId != null">
                #{instSpvPromoterId} ,
        </if>
        <if test="instSpvCompanyId != null">
                #{instSpvCompanyId} ,
        </if>
        <if test="productNo != null">
                #{productNo} ,
        </if>
        <if test="tokenName != null">
                #{tokenName} ,
        </if>
        <if test="tokenLogo != null">
                #{tokenLogo} ,
        </if>
        <if test="tokenIssueNumber != null">
                #{tokenIssueNumber} ,
        </if>
        <if test="raiseCurrency != null">
                #{raiseCurrency} ,
        </if>
        <if test="raiseAmount != null">
                #{raiseAmount} ,
        </if>
        <if test="assetEndValuation != null">
                #{assetEndValuation} ,
        </if>
        <if test="issueDays != null">
                #{issueDays} ,
        </if>
        <if test="purchaseStartDate != null">
                #{purchaseStartDate} ,
        </if>
        <if test="purchaseEndDate != null">
                #{purchaseEndDate} ,
        </if>
        <if test="operationStarDate != null">
                #{operationStarDate} ,
        </if>
        <if test="operationEndDate != null">
                #{operationEndDate} ,
        </if>
        <if test="raiseEstablishedRatio != null">
                #{raiseEstablishedRatio} ,
        </if>
        <if test="companyAssetName != null">
                #{companyAssetName} ,
        </if>
        <if test="companyAssetDesc != null">
                #{companyAssetDesc} ,
        </if>
        <if test="companyRaiseUse != null">
                #{companyRaiseUse} ,
        </if>
        <if test="dividendRatio != null">
                #{dividendRatio} ,
        </if>
        <if test="dividendFrequency != null">
                #{dividendFrequency} ,
        </if>
        <if test="dividendFreezeDays != null">
                #{dividendFreezeDays} ,
        </if>
        <if test="raiseMarginRatio != null">
                #{raiseMarginRatio} ,
        </if>
        <if test="raiseMarginState != null">
                #{raiseMarginState} ,
        </if>
        <if test="purchasedSumAmount != null">
                #{purchasedSumAmount} ,
        </if>
        <if test="state != null">
                #{state} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateBy != null">
                #{updateBy} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} ,
        </if>
        <if test="checkBy != null">
                #{checkBy} ,
        </if>
        <if test="checkTime != null">
                #{checkTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        UPDATE RwaInstSpvProduct
           <set>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="instSpvPromoterId != null">
                instSpvPromoterId = #{instSpvPromoterId} ,
            </if>
            <if test="instSpvCompanyId != null">
                instSpvCompanyId = #{instSpvCompanyId} ,
            </if>
            <if test="productNo != null">
                productNo = #{productNo} ,
            </if>
            <if test="tokenName != null">
                tokenName = #{tokenName} ,
            </if>
            <if test="tokenLogo != null">
                tokenLogo = #{tokenLogo} ,
            </if>
            <if test="tokenIssueNumber != null">
                tokenIssueNumber = #{tokenIssueNumber} ,
            </if>
            <if test="raiseCurrency != null">
                raiseCurrency = #{raiseCurrency} ,
            </if>
            <if test="raiseAmount != null">
                raiseAmount = #{raiseAmount} ,
            </if>
            <if test="assetEndValuation != null">
                assetEndValuation = #{assetEndValuation} ,
            </if>
            <if test="issueDays != null">
                issueDays = #{issueDays} ,
            </if>
            <if test="purchaseStartDate != null">
                purchaseStartDate = #{purchaseStartDate} ,
            </if>
            <if test="purchaseEndDate != null">
                purchaseEndDate = #{purchaseEndDate} ,
            </if>
            <if test="operationStarDate != null">
                operationStarDate = #{operationStarDate} ,
            </if>
            <if test="operationEndDate != null">
                operationEndDate = #{operationEndDate} ,
            </if>
            <if test="raiseEstablishedRatio != null">
                raiseEstablishedRatio = #{raiseEstablishedRatio} ,
            </if>
            <if test="companyAssetName != null">
                companyAssetName = #{companyAssetName} ,
            </if>
            <if test="companyAssetDesc != null">
                companyAssetDesc = #{companyAssetDesc} ,
            </if>
            <if test="companyRaiseUse != null">
                companyRaiseUse = #{companyRaiseUse} ,
            </if>
            <if test="dividendRatio != null">
                dividendRatio = #{dividendRatio} ,
            </if>
            <if test="dividendFrequency != null">
                dividendFrequency = #{dividendFrequency} ,
            </if>
            <if test="dividendFreezeDays != null">
                dividendFreezeDays = #{dividendFreezeDays} ,
            </if>
            <if test="raiseMarginRatio != null">
                raiseMarginRatio = #{raiseMarginRatio} ,
            </if>
            <if test="raiseMarginState != null">
                raiseMarginState = #{raiseMarginState} ,
            </if>
            <if test="purchasedSumAmount != null">
                purchasedSumAmount = #{purchasedSumAmount} ,
            </if>
            <if test="state != null">
                state = #{state} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="checkBy != null">
                checkBy = #{checkBy} ,
            </if>
            <if test="checkTime != null">
                checkTime = #{checkTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO RwaInstSpvProduct(
            id ,
            userId ,
            instSpvPromoterId ,
            instSpvCompanyId ,
            productNo ,
            tokenName ,
            tokenLogo ,
            tokenIssueNumber ,
            raiseCurrency ,
            raiseAmount ,
            assetEndValuation ,
            issueDays ,
            purchaseStartDate ,
            purchaseEndDate ,
            operationStarDate ,
            operationEndDate ,
            raiseEstablishedRatio ,
            companyAssetName ,
            companyAssetDesc ,
            companyRaiseUse ,
            dividendRatio ,
            dividendFrequency ,
            dividendFreezeDays ,
            raiseMarginRatio ,
            raiseMarginState ,
            purchasedSumAmount ,
            state ,
            remark ,
            createTime ,
            updateBy ,
            updateTime ,
            checkBy ,
            checkTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.userId} ,
            #{item.instSpvPromoterId} ,
            #{item.instSpvCompanyId} ,
            #{item.productNo} ,
            #{item.tokenName} ,
            #{item.tokenLogo} ,
            #{item.tokenIssueNumber} ,
            #{item.raiseCurrency} ,
            #{item.raiseAmount} ,
            #{item.assetEndValuation} ,
            #{item.issueDays} ,
            #{item.purchaseStartDate} ,
            #{item.purchaseEndDate} ,
            #{item.operationStarDate} ,
            #{item.operationEndDate} ,
            #{item.raiseEstablishedRatio} ,
            #{item.companyAssetName} ,
            #{item.companyAssetDesc} ,
            #{item.companyRaiseUse} ,
            #{item.dividendRatio} ,
            #{item.dividendFrequency} ,
            #{item.dividendFreezeDays} ,
            #{item.raiseMarginRatio} ,
            #{item.raiseMarginState} ,
            #{item.purchasedSumAmount} ,
            #{item.state} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateBy} ,
            #{item.updateTime} ,
            #{item.checkBy} ,
            #{item.checkTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE RwaInstSpvProduct SET
            userId = #{item.userId} ,
            instSpvPromoterId = #{item.instSpvPromoterId} ,
            instSpvCompanyId = #{item.instSpvCompanyId} ,
            productNo = #{item.productNo} ,
            tokenName = #{item.tokenName} ,
            tokenLogo = #{item.tokenLogo} ,
            tokenIssueNumber = #{item.tokenIssueNumber} ,
            raiseCurrency = #{item.raiseCurrency} ,
            raiseAmount = #{item.raiseAmount} ,
            assetEndValuation = #{item.assetEndValuation} ,
            issueDays = #{item.issueDays} ,
            purchaseStartDate = #{item.purchaseStartDate} ,
            purchaseEndDate = #{item.purchaseEndDate} ,
            operationStarDate = #{item.operationStarDate} ,
            operationEndDate = #{item.operationEndDate} ,
            raiseEstablishedRatio = #{item.raiseEstablishedRatio} ,
            companyAssetName = #{item.companyAssetName} ,
            companyAssetDesc = #{item.companyAssetDesc} ,
            companyRaiseUse = #{item.companyRaiseUse} ,
            dividendRatio = #{item.dividendRatio} ,
            dividendFrequency = #{item.dividendFrequency} ,
            dividendFreezeDays = #{item.dividendFreezeDays} ,
            raiseMarginRatio = #{item.raiseMarginRatio} ,
            raiseMarginState = #{item.raiseMarginState} ,
            purchasedSumAmount = #{item.purchasedSumAmount} ,
            state = #{item.state} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateBy = #{item.updateBy} ,
            updateTime = #{item.updateTime} ,
            checkBy = #{item.checkBy} ,
            checkTime = #{item.checkTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        UPDATE RwaInstSpvProduct SET
            userId = #{userId} ,
            instSpvPromoterId = #{instSpvPromoterId} ,
            instSpvCompanyId = #{instSpvCompanyId} ,
            productNo = #{productNo} ,
            tokenName = #{tokenName} ,
            tokenLogo = #{tokenLogo} ,
            tokenIssueNumber = #{tokenIssueNumber} ,
            raiseCurrency = #{raiseCurrency} ,
            raiseAmount = #{raiseAmount} ,
            assetEndValuation = #{assetEndValuation} ,
            issueDays = #{issueDays} ,
            purchaseStartDate = #{purchaseStartDate} ,
            purchaseEndDate = #{purchaseEndDate} ,
            operationStarDate = #{operationStarDate} ,
            operationEndDate = #{operationEndDate} ,
            raiseEstablishedRatio = #{raiseEstablishedRatio} ,
            companyAssetName = #{companyAssetName} ,
            companyAssetDesc = #{companyAssetDesc} ,
            companyRaiseUse = #{companyRaiseUse} ,
            dividendRatio = #{dividendRatio} ,
            dividendFrequency = #{dividendFrequency} ,
            dividendFreezeDays = #{dividendFreezeDays} ,
            raiseMarginRatio = #{raiseMarginRatio} ,
            raiseMarginState = #{raiseMarginState} ,
            purchasedSumAmount = #{purchasedSumAmount} ,
            state = #{state} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateBy = #{updateBy} ,
            updateTime = #{updateTime} ,
            checkBy = #{checkBy} ,
            checkTime = #{checkTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        SELECT <include refid="rwaInstSpvProductColumns"/> FROM RwaInstSpvProduct a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        SELECT
        <include refid="rwaInstSpvProductColumns"/>
        FROM RwaInstSpvProduct a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="instSpvPromoterId != null">
            AND a.instSpvPromoterId = #{instSpvPromoterId}
        </if>
        <if test="instSpvCompanyId != null">
            AND a.instSpvCompanyId = #{instSpvCompanyId}
        </if>
        <if test="productNo != null and productNo != ''">
            AND a.productNo = #{productNo}
        </if>
        <if test="tokenName != null and tokenName != ''">
            AND a.tokenName = #{tokenName}
        </if>
        <if test="tokenLogo != null and tokenLogo != ''">
            AND a.tokenLogo = #{tokenLogo}
        </if>
        <if test="tokenIssueNumber != null">
            AND a.tokenIssueNumber = #{tokenIssueNumber}
        </if>
        <if test="raiseCurrency != null and raiseCurrency != ''">
            AND a.raiseCurrency = #{raiseCurrency}
        </if>
        <if test="raiseAmount != null">
            AND a.raiseAmount = #{raiseAmount}
        </if>
        <if test="assetEndValuation != null">
            AND a.assetEndValuation = #{assetEndValuation}
        </if>
        <if test="issueDays != null">
            AND a.issueDays = #{issueDays}
        </if>
        <if test="purchaseStartDate != null">
            AND a.purchaseStartDate = #{purchaseStartDate}
        </if>
        <if test="purchaseEndDate != null">
            AND a.purchaseEndDate = #{purchaseEndDate}
        </if>
        <if test="operationStarDate != null">
            AND a.operationStarDate = #{operationStarDate}
        </if>
        <if test="operationEndDate != null">
            AND a.operationEndDate = #{operationEndDate}
        </if>
        <if test="raiseEstablishedRatio != null">
            AND a.raiseEstablishedRatio = #{raiseEstablishedRatio}
        </if>
        <if test="companyAssetName != null and companyAssetName != ''">
            AND a.companyAssetName = #{companyAssetName}
        </if>
        <if test="companyAssetDesc != null and companyAssetDesc != ''">
            AND a.companyAssetDesc = #{companyAssetDesc}
        </if>
        <if test="companyRaiseUse != null and companyRaiseUse != ''">
            AND a.companyRaiseUse = #{companyRaiseUse}
        </if>
        <if test="dividendRatio != null">
            AND a.dividendRatio = #{dividendRatio}
        </if>
        <if test="dividendFrequency != null and dividendFrequency != ''">
            AND a.dividendFrequency = #{dividendFrequency}
        </if>
        <if test="dividendFreezeDays != null">
            AND a.dividendFreezeDays = #{dividendFreezeDays}
        </if>
        <if test="raiseMarginRatio != null">
            AND a.raiseMarginRatio = #{raiseMarginRatio}
        </if>
        <if test="raiseMarginState != null">
            AND a.raiseMarginState = #{raiseMarginState}
        </if>
        <if test="purchasedSumAmount != null">
            AND a.purchasedSumAmount = #{purchasedSumAmount}
        </if>
        <if test="state != null and state != ''">
            AND a.state = #{state}
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark = #{remark}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy = #{updateBy}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        <if test="checkBy != null and checkBy != ''">
            AND a.checkBy = #{checkBy}
        </if>
        <if test="checkTime != null">
            AND a.checkTime = #{checkTime}
        </if>
        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        SELECT
        <include refid="rwaInstSpvProductColumns"/>
        FROM RwaInstSpvProduct a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="instSpvPromoterId != null">
            AND a.instSpvPromoterId = #{instSpvPromoterId}
        </if>
        <if test="instSpvCompanyId != null">
            AND a.instSpvCompanyId = #{instSpvCompanyId}
        </if>
        <if test="productNo != null and productNo != ''">
            AND a.productNo LIKE CONCAT('%',#{productNo}, '%')
        </if>
        <if test="tokenName != null and tokenName != ''">
            AND a.tokenName LIKE CONCAT('%',#{tokenName}, '%')
        </if>
        <if test="tokenLogo != null and tokenLogo != ''">
            AND a.tokenLogo LIKE CONCAT('%',#{tokenLogo}, '%')
        </if>
        <if test="tokenIssueNumber != null">
            AND a.tokenIssueNumber = #{tokenIssueNumber}
        </if>
        <if test="raiseCurrency != null and raiseCurrency != ''">
            AND a.raiseCurrency LIKE CONCAT('%',#{raiseCurrency}, '%')
        </if>
        <if test="raiseAmount != null">
            AND a.raiseAmount = #{raiseAmount}
        </if>
        <if test="assetEndValuation != null">
            AND a.assetEndValuation = #{assetEndValuation}
        </if>
        <if test="issueDays != null">
            AND a.issueDays = #{issueDays}
        </if>
        <if test="purchaseStartDate != null">
            AND a.purchaseStartDate = #{purchaseStartDate}
        </if>
        <if test="purchaseEndDate != null">
            AND a.purchaseEndDate = #{purchaseEndDate}
        </if>
        <if test="operationStarDate != null">
            AND a.operationStarDate = #{operationStarDate}
        </if>
        <if test="operationEndDate != null">
            AND a.operationEndDate = #{operationEndDate}
        </if>
        <if test="raiseEstablishedRatio != null">
            AND a.raiseEstablishedRatio = #{raiseEstablishedRatio}
        </if>
        <if test="companyAssetName != null and companyAssetName != ''">
            AND a.companyAssetName LIKE CONCAT('%',#{companyAssetName}, '%')
        </if>
        <if test="companyAssetDesc != null and companyAssetDesc != ''">
            AND a.companyAssetDesc LIKE CONCAT('%',#{companyAssetDesc}, '%')
        </if>
        <if test="companyRaiseUse != null and companyRaiseUse != ''">
            AND a.companyRaiseUse LIKE CONCAT('%',#{companyRaiseUse}, '%')
        </if>
        <if test="dividendRatio != null">
            AND a.dividendRatio = #{dividendRatio}
        </if>
        <if test="dividendFrequency != null and dividendFrequency != ''">
            AND a.dividendFrequency LIKE CONCAT('%',#{dividendFrequency}, '%')
        </if>
        <if test="dividendFreezeDays != null">
            AND a.dividendFreezeDays = #{dividendFreezeDays}
        </if>
        <if test="raiseMarginRatio != null">
            AND a.raiseMarginRatio = #{raiseMarginRatio}
        </if>
        <if test="raiseMarginState != null">
            AND a.raiseMarginState = #{raiseMarginState}
        </if>
        <if test="purchasedSumAmount != null">
            AND a.purchasedSumAmount = #{purchasedSumAmount}
        </if>
        <if test="state != null and state != ''">
            AND a.state LIKE CONCAT('%',#{state}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy LIKE CONCAT('%',#{updateBy}, '%')
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        <if test="checkBy != null and checkBy != ''">
            AND a.checkBy LIKE CONCAT('%',#{checkBy}, '%')
        </if>
        <if test="checkTime != null">
            AND a.checkTime = #{checkTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProduct">
        SELECT
        <include refid="rwaInstSpvProductColumns"/>
        FROM RwaInstSpvProduct a
    </select>


</mapper>

