<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.rwa.mapper.RwaInstSpvProductRealizedIncomeMapper">
    <!-- 基础列 -->
    <sql id="rwaInstSpvProductRealizedIncomeColumns">
        a.id as id,
        a.userId as userId,
        a.instSpvProductId as instSpvProductId,
        a.incomeDistributionDate as incomeDistributionDate,
        a.incomeAmount as incomeAmount,
        a.incomeCurrency as incomeCurrency,
        a.remark as remark,
        a.createTime as createTime,
        a.updateBy as updateBy,
        a.updateTime as updateTime
    </sql>

    <resultMap id="rwaInstSpvProductRealizedIncomeResultMap" type="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        <id column="ID" property="id" />
        <result column="userId" property="userId"/>
        <result column="instSpvProductId" property="instSpvProductId"/>
        <result column="incomeDistributionDate" property="incomeDistributionDate"/>
        <result column="incomeAmount" property="incomeAmount"/>
        <result column="incomeCurrency" property="incomeCurrency"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        INSERT INTO RwaInstSpvProductRealizedIncome(
            id ,
            userId ,
            instSpvProductId ,
            incomeDistributionDate ,
            incomeAmount ,
            incomeCurrency ,
            remark ,
            createTime ,
            updateBy ,
            updateTime 
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{instSpvProductId} ,
            #{incomeDistributionDate} ,
            #{incomeAmount} ,
            #{incomeCurrency} ,
            #{remark} ,
            #{createTime} ,
            #{updateBy} ,
            #{updateTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM RwaInstSpvProductRealizedIncome WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE RwaInstSpvProductRealizedIncome SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        INSERT INTO RwaInstSpvProductRealizedIncome
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="userId != null">
                userId ,
        </if>
        <if test="instSpvProductId != null">
                instSpvProductId ,
        </if>
        <if test="incomeDistributionDate != null">
                incomeDistributionDate ,
        </if>
        <if test="incomeAmount != null">
                incomeAmount ,
        </if>
        <if test="incomeCurrency != null">
                incomeCurrency ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateBy != null">
                updateBy ,
        </if>
        <if test="updateTime != null">
                updateTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="instSpvProductId != null">
                #{instSpvProductId} ,
        </if>
        <if test="incomeDistributionDate != null">
                #{incomeDistributionDate} ,
        </if>
        <if test="incomeAmount != null">
                #{incomeAmount} ,
        </if>
        <if test="incomeCurrency != null">
                #{incomeCurrency} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateBy != null">
                #{updateBy} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        UPDATE RwaInstSpvProductRealizedIncome
           <set>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="instSpvProductId != null">
                instSpvProductId = #{instSpvProductId} ,
            </if>
            <if test="incomeDistributionDate != null">
                incomeDistributionDate = #{incomeDistributionDate} ,
            </if>
            <if test="incomeAmount != null">
                incomeAmount = #{incomeAmount} ,
            </if>
            <if test="incomeCurrency != null">
                incomeCurrency = #{incomeCurrency} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO RwaInstSpvProductRealizedIncome(
            id ,
            userId ,
            instSpvProductId ,
            incomeDistributionDate ,
            incomeAmount ,
            incomeCurrency ,
            remark ,
            createTime ,
            updateBy ,
            updateTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.userId} ,
            #{item.instSpvProductId} ,
            #{item.incomeDistributionDate} ,
            #{item.incomeAmount} ,
            #{item.incomeCurrency} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateBy} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE RwaInstSpvProductRealizedIncome SET
            userId = #{item.userId} ,
            instSpvProductId = #{item.instSpvProductId} ,
            incomeDistributionDate = #{item.incomeDistributionDate} ,
            incomeAmount = #{item.incomeAmount} ,
            incomeCurrency = #{item.incomeCurrency} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateBy = #{item.updateBy} ,
            updateTime = #{item.updateTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        UPDATE RwaInstSpvProductRealizedIncome SET
            userId = #{userId} ,
            instSpvProductId = #{instSpvProductId} ,
            incomeDistributionDate = #{incomeDistributionDate} ,
            incomeAmount = #{incomeAmount} ,
            incomeCurrency = #{incomeCurrency} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateBy = #{updateBy} ,
            updateTime = #{updateTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        SELECT <include refid="rwaInstSpvProductRealizedIncomeColumns"/> FROM RwaInstSpvProductRealizedIncome a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        SELECT
        <include refid="rwaInstSpvProductRealizedIncomeColumns"/>
        FROM RwaInstSpvProductRealizedIncome a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="instSpvProductId != null">
            AND a.instSpvProductId = #{instSpvProductId}
        </if>
        <if test="incomeDistributionDate != null">
            AND a.incomeDistributionDate = #{incomeDistributionDate}
        </if>
        <if test="incomeAmount != null">
            AND a.incomeAmount = #{incomeAmount}
        </if>
        <if test="incomeCurrency != null and incomeCurrency != ''">
            AND a.incomeCurrency = #{incomeCurrency}
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark = #{remark}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy = #{updateBy}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        SELECT
        <include refid="rwaInstSpvProductRealizedIncomeColumns"/>
        FROM RwaInstSpvProductRealizedIncome a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="instSpvProductId != null">
            AND a.instSpvProductId = #{instSpvProductId}
        </if>
        <if test="incomeDistributionDate != null">
            AND a.incomeDistributionDate = #{incomeDistributionDate}
        </if>
        <if test="incomeAmount != null">
            AND a.incomeAmount = #{incomeAmount}
        </if>
        <if test="incomeCurrency != null and incomeCurrency != ''">
            AND a.incomeCurrency LIKE CONCAT('%',#{incomeCurrency}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND a.updateBy LIKE CONCAT('%',#{updateBy}, '%')
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.rwa.entity.RwaInstSpvProductRealizedIncome">
        SELECT
        <include refid="rwaInstSpvProductRealizedIncomeColumns"/>
        FROM RwaInstSpvProductRealizedIncome a
    </select>


</mapper>

