<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.spot.mapper.BalanceHistoryMapper">
    <!-- 基础列 -->
    <sql id="BalanceHistoryColumns">
        a.id as id,
        a.time as time,
        a.user_id as userId,
        a.asset as asset,
        a.business as business,
        a.`change` as change,
        a.balance as balance,
        a.detail as detail
    </sql>

    <resultMap id="BalanceHistoryResultMap" type="com.anyex.apps.spot.entity.BalanceHistory">
        <id column="ID" property="id" />
        <result column="time" property="time"/>
        <result column="user_id" property="userId"/>
        <result column="asset" property="asset"/>
        <result column="business" property="business"/>
        <result column="change" property="change"/>
        <result column="balance" property="balance"/>
        <result column="detail" property="detail"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.spot.entity.BalanceHistory">
        INSERT INTO balance_history_example(
            id ,
            time ,
            user_id ,
            asset ,
            business ,
            change ,
            balance ,
            detail 
        ) VALUES (
            #{id} ,
            #{time} ,
            #{userId} ,
            #{asset} ,
            #{business} ,
            #{change} ,
            #{balance} ,
            #{detail} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM balance_history_example WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE balance_history_example SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.spot.entity.BalanceHistory">
        INSERT INTO balance_history_example
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="time != null">
                time ,
        </if>
        <if test="userId != null">
                user_id ,
        </if>
        <if test="asset != null">
                asset ,
        </if>
        <if test="business != null">
                business ,
        </if>
        <if test="change != null">
                change ,
        </if>
        <if test="balance != null">
                balance ,
        </if>
        <if test="detail != null">
                detail 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="time != null">
                #{time} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="asset != null">
                #{asset} ,
        </if>
        <if test="business != null">
                #{business} ,
        </if>
        <if test="change != null">
                #{change} ,
        </if>
        <if test="balance != null">
                #{balance} ,
        </if>
        <if test="detail != null">
                #{detail} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.spot.entity.BalanceHistory">
        UPDATE balance_history_example
           <set>
            <if test="time != null">
                time = #{time} ,
            </if>
            <if test="userId != null">
                user_id = #{userId} ,
            </if>
            <if test="asset != null">
                asset = #{asset} ,
            </if>
            <if test="business != null">
                business = #{business} ,
            </if>
            <if test="change != null">
                change = #{change} ,
            </if>
            <if test="balance != null">
                balance = #{balance} ,
            </if>
            <if test="detail != null">
                detail = #{detail} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO balance_history_example(
            id ,
            time ,
            user_id ,
            asset ,
            business ,
            change ,
            balance ,
            detail 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.time} ,
            #{item.userId} ,
            #{item.asset} ,
            #{item.business} ,
            #{item.change} ,
            #{item.balance} ,
            #{item.detail} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE balance_history_example SET
            time = #{item.time} ,
            user_id = #{item.userId} ,
            asset = #{item.asset} ,
            business = #{item.business} ,
            change = #{item.change} ,
            balance = #{item.balance} ,
            detail = #{item.detail} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.spot.entity.BalanceHistory">
        UPDATE balance_history_example SET
            time = #{time} ,
            user_id = #{userId} ,
            asset = #{asset} ,
            business = #{business} ,
            change = #{change} ,
            balance = #{balance} ,
            detail = #{detail} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.spot.entity.BalanceHistory">
        SELECT <include refid="BalanceHistoryColumns"/> FROM balance_history_example a WHERE a.ID = #{id}
    </select>

    <!-- 查询一条记录 -->
    <select id="selectOne" resultType="com.anyex.apps.spot.entity.BalanceHistory">
        SELECT
        <include refid="BalanceHistoryColumns"/>
        FROM balance_history_example a WHERE 1 = 1
        <if test="time != null">
            AND a.time = #{time}
        </if>
        <if test="userId != null">
            AND a.user_id = #{userId}
        </if>
        <if test="asset != null and asset != ''">
            AND a.asset = #{asset}
        </if>
        <if test="business != null and business != ''">
            AND a.business = #{business}
        </if>
        <if test="change != null">
            AND a.change = #{change}
        </if>
        <if test="balance != null">
            AND a.balance = #{balance}
        </if>
        <if test="detail != null and detail != ''">
            AND a.detail = #{detail}
        </if>
        limit 1
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.spot.entity.BalanceHistory">
        SELECT
        <include refid="BalanceHistoryColumns"/>
        FROM balance_history_example a WHERE 1 = 1
        <if test="time != null">
            AND a.time = #{time}
        </if>
        <if test="userId != null">
            AND a.user_id = #{userId}
        </if>
        <if test="asset != null and asset != ''">
            AND a.asset LIKE CONCAT('%',#{asset}, '%')
        </if>
        <if test="business != null and business != ''">
            AND a.business LIKE CONCAT('%',#{business}, '%')
        </if>
        <if test="change != null">
            AND a.change = #{change}
        </if>
        <if test="balance != null">
            AND a.balance = #{balance}
        </if>
        <if test="detail != null and detail != ''">
            AND a.detail LIKE CONCAT('%',#{detail}, '%')
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.spot.entity.BalanceHistory">
        SELECT
        <include refid="BalanceHistoryColumns"/>
        FROM balance_history_example a
    </select>


    <select id="selectList" resultType="com.anyex.apps.spot.entity.BalanceHistory">
        SELECT
        a.id AS id,
        a.time AS time,
        a.user_id AS userId,
        a.asset AS asset,
        a.business AS business,
        a.`change`,
        a.balance AS balance,
        a.detail AS detail
        FROM ${tableName} a WHERE 1 = 1
        <if test="balanceHistory.time != null">
            AND a.time = #{balanceHistory.time}
        </if>
        <if test="balanceHistory.userId != null">
            AND a.user_id = #{balanceHistory.userId}
        </if>
        <if test="balanceHistory.asset != null and balanceHistory.asset != ''">
            AND a.asset LIKE CONCAT('%',#{balanceHistory.asset}, '%')
        </if>
        <if test="balanceHistory.business != null and balanceHistory.business != ''">
            AND a.business LIKE CONCAT('%',#{balanceHistory.business}, '%')
        </if>
        <if test="balanceHistory.change != null">
            AND a.change = #{balanceHistory.change}
        </if>
        <if test="balanceHistory.balance != null">
            AND a.balance = #{balanceHistory.balance}
        </if>
        <if test="balanceHistory.detail != null and balanceHistory.detail != ''">
            AND a.detail LIKE CONCAT('%',#{balanceHistory.detail}, '%')
        </if>
    </select>


</mapper>

