<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.business.luckybox.goods.mapper.GoodsCategoryBrandMapper">
    <!--所有读取操作加上缓存，5分钟过期-->
    <cache type="com.anyex.apps.bean.RedisCache" eviction="LRU" flushInterval="300000"/>

    <!-- 基础列 -->
    <sql id="goodsCategoryBrandColumns">
        a.id as id,
        a.categoryId as categoryId,
        a.brandId as brandId
    </sql>

    <resultMap id="goodsCategoryBrandResultMap" type="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        <id column="ID" property="id" />
        <result column="categoryId" property="categoryId"/>
        <result column="brandId" property="brandId"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        INSERT INTO GoodsCategoryBrand(
            id ,
            categoryId ,
            brandId 
        ) VALUES (
            #{id} ,
            #{categoryId} ,
            #{brandId} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM GoodsCategoryBrand WHERE ID = #{id}
    </delete>

    <!-- 根据角色编号删除权限 -->
    <delete id="removeByGoodsCategoryId">
         delete from GoodsCategoryBrand where categoryId = #{categoryId}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE GoodsCategoryBrand SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        INSERT INTO GoodsCategoryBrand
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="categoryId != null">
                categoryId ,
        </if>
        <if test="brandId != null">
                brandId 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="categoryId != null">
                #{categoryId} ,
        </if>
        <if test="brandId != null">
                #{brandId} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        UPDATE GoodsCategoryBrand
           <set>
            <if test="categoryId != null">
                categoryId = #{categoryId} ,
            </if>
            <if test="brandId != null">
                brandId = #{brandId} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO GoodsCategoryBrand(
            id ,
            categoryId ,
            brandId 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.categoryId} ,
            #{item.brandId} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE GoodsCategoryBrand SET
            categoryId = #{item.categoryId} ,
            brandId = #{item.brandId} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        UPDATE GoodsCategoryBrand SET
            categoryId = #{categoryId} ,
            brandId = #{brandId} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        SELECT <include refid="goodsCategoryBrandColumns"/> FROM GoodsCategoryBrand a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        SELECT
        <include refid="goodsCategoryBrandColumns"/>
        FROM GoodsCategoryBrand a WHERE 1 = 1
        <if test="categoryId != null">
            AND a.categoryId = #{categoryId}
        </if>
        <if test="brandId != null">
            AND a.brandId = #{brandId}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.business.luckybox.goods.entity.GoodsCategoryBrand">
        SELECT
        <include refid="goodsCategoryBrandColumns"/>
        FROM GoodsCategoryBrand a
    </select>

</mapper>

