<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.asset.mapper.WalletAssetFlowsMapper">
    <!-- 基础列 -->
    <sql id="walletAssetFlowsColumns">
        a.id as id,
        a.accountId as accountId,
        a.currency as currency,
        a.businessCategory as businessCategory,
        a.businessType as businessType,
        a.beforeBalance as beforeBalance,
        a.balance as balance,
        a.fee as fee,
        a.direction as direction,
        a.afterBalance as afterBalance,
        a.orgBusinessId as orgBusinessId,
        a.orgBusinessNo as orgBusinessNo,
        a.status as status,
        a.createTime as createTime,
        a.updateTime as updateTime,
        a.remark as remark
    </sql>

    <resultMap id="walletAssetFlowsResultMap" type="com.anyex.apps.asset.entity.WalletAssetFlows">
        <id column="ID" property="id" />
        <result column="accountId" property="accountId"/>
        <result column="currency" property="currency"/>
        <result column="businessCategory" property="businessCategory"/>
        <result column="businessType" property="businessType"/>
        <result column="beforeBalance" property="beforeBalance"/>
        <result column="balance" property="balance"/>
        <result column="fee" property="fee"/>
        <result column="direction" property="direction"/>
        <result column="afterBalance" property="afterBalance"/>
        <result column="orgBusinessId" property="orgBusinessId"/>
        <result column="orgBusinessNo" property="orgBusinessNo"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.asset.entity.WalletAssetFlows">
        INSERT INTO WalletAssetFlows(
            id ,
            accountId ,
            currency ,
            businessCategory ,
            businessType ,
            beforeBalance ,
            balance ,
            fee ,
            direction ,
            afterBalance ,
            orgBusinessId ,
            orgBusinessNo ,
            status ,
            createTime ,
            updateTime ,
            remark 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{currency} ,
            #{businessCategory} ,
            #{businessType} ,
            #{beforeBalance} ,
            #{balance} ,
            #{fee} ,
            #{direction} ,
            #{afterBalance} ,
            #{orgBusinessId} ,
            #{orgBusinessNo} ,
            #{status} ,
            #{createTime} ,
            #{updateTime} ,
            #{remark} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM WalletAssetFlows WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE WalletAssetFlows SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.asset.entity.WalletAssetFlows">
        INSERT INTO WalletAssetFlows
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="accountId != null">
                accountId ,
        </if>
        <if test="currency != null">
                currency ,
        </if>
        <if test="businessCategory != null">
                businessCategory ,
        </if>
        <if test="businessType != null">
                businessType ,
        </if>
        <if test="beforeBalance != null">
                beforeBalance ,
        </if>
        <if test="balance != null">
                balance ,
        </if>
        <if test="fee != null">
                fee ,
        </if>
        <if test="direction != null">
                direction ,
        </if>
        <if test="afterBalance != null">
                afterBalance ,
        </if>
        <if test="orgBusinessId != null">
                orgBusinessId ,
        </if>
        <if test="orgBusinessNo != null">
                orgBusinessNo ,
        </if>
        <if test="status != null">
                status ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateTime != null">
                updateTime ,
        </if>
        <if test="remark != null">
                remark 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="currency != null">
                #{currency} ,
        </if>
        <if test="businessCategory != null">
                #{businessCategory} ,
        </if>
        <if test="businessType != null">
                #{businessType} ,
        </if>
        <if test="beforeBalance != null">
                #{beforeBalance} ,
        </if>
        <if test="balance != null">
                #{balance} ,
        </if>
        <if test="fee != null">
                #{fee} ,
        </if>
        <if test="direction != null">
                #{direction} ,
        </if>
        <if test="afterBalance != null">
                #{afterBalance} ,
        </if>
        <if test="orgBusinessId != null">
                #{orgBusinessId} ,
        </if>
        <if test="orgBusinessNo != null">
                #{orgBusinessNo} ,
        </if>
        <if test="status != null">
                #{status} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} ,
        </if>
        <if test="remark != null">
                #{remark} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.asset.entity.WalletAssetFlows">
        UPDATE WalletAssetFlows
           <set>
            <if test="accountId != null">
                accountId = #{accountId} ,
            </if>
            <if test="currency != null">
                currency = #{currency} ,
            </if>
            <if test="businessCategory != null">
                businessCategory = #{businessCategory} ,
            </if>
            <if test="businessType != null">
                businessType = #{businessType} ,
            </if>
            <if test="beforeBalance != null">
                beforeBalance = #{beforeBalance} ,
            </if>
            <if test="balance != null">
                balance = #{balance} ,
            </if>
            <if test="fee != null">
                fee = #{fee} ,
            </if>
            <if test="direction != null">
                direction = #{direction} ,
            </if>
            <if test="afterBalance != null">
                afterBalance = #{afterBalance} ,
            </if>
            <if test="orgBusinessId != null">
                orgBusinessId = #{orgBusinessId} ,
            </if>
            <if test="orgBusinessNo != null">
                orgBusinessNo = #{orgBusinessNo} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="remark != null">
                remark = #{remark} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO WalletAssetFlows(
            id ,
            accountId ,
            currency ,
            businessCategory ,
            businessType ,
            beforeBalance ,
            balance ,
            fee ,
            direction,
            afterBalance ,
            orgBusinessId ,
            orgBusinessNo ,
            status ,
            createTime ,
            updateTime ,
            remark 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.accountId} ,
            #{item.currency} ,
            #{item.businessCategory} ,
            #{item.businessType} ,
            #{item.beforeBalance} ,
            #{item.balance} ,
            #{item.fee} ,
            #{item.direction} ,
            #{item.afterBalance} ,
            #{item.orgBusinessId} ,
            #{item.orgBusinessNo} ,
            #{item.status} ,
            #{item.createTime} ,
            #{item.updateTime} ,
            #{item.remark} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE WalletAssetFlows SET
            accountId = #{item.accountId} ,
            currency = #{item.currency} ,
            businessCategory = #{item.businessCategory} ,
            businessType = #{item.businessType} ,
            beforeBalance = #{item.beforeBalance} ,
            balance = #{item.balance} ,
            fee = #{item.fee} ,
            direction = #{item.direction} ,
            afterBalance = #{item.afterBalance} ,
            orgBusinessId = #{item.orgBusinessId} ,
            orgBusinessNo = #{item.orgBusinessNo} ,
            status = #{item.status} ,
            createTime = #{item.createTime} ,
            updateTime = #{item.updateTime} ,
            remark = #{item.remark} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.asset.entity.WalletAssetFlows">
        UPDATE WalletAssetFlows SET
            accountId = #{accountId} ,
            currency = #{currency} ,
            businessCategory = #{businessCategory} ,
            businessType = #{businessType} ,
            beforeBalance = #{beforeBalance} ,
            balance = #{balance} ,
            fee = #{fee} ,
            direction = #{direction} ,
            afterBalance = #{afterBalance} ,
            orgBusinessId = #{orgBusinessId} ,
            orgBusinessNo = #{orgBusinessNo} ,
            status = #{status} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            remark = #{remark} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.asset.entity.WalletAssetFlows">
        SELECT <include refid="walletAssetFlowsColumns"/> FROM WalletAssetFlows a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.asset.entity.WalletAssetFlows">
        SELECT
        <include refid="walletAssetFlowsColumns"/>
        FROM WalletAssetFlows a WHERE 1 = 1
        <if test="accountId != null">
            AND a.accountId = #{accountId}
        </if>
        <if test="currency != null">
            AND a.currency LIKE CONCAT('%',#{currency}, '%') 
        </if>
        <if test="businessCategory != null">
            AND a.businessCategory LIKE CONCAT('%',#{businessCategory}, '%')
        </if>
        <if test="businessType != null">
            AND a.businessType LIKE CONCAT('%',#{businessType}, '%') 
        </if>
        <if test="beforeBalance != null">
            AND a.beforeBalance = #{beforeBalance}
        </if>
        <if test="balance != null">
            AND a.balance = #{balance}
        </if>
        <if test="direction != null">
            AND a.direction = #{direction}
        </if>
        <if test="afterBalance != null">
            AND a.afterBalance = #{afterBalance}
        </if>
        <if test="orgBusinessId != null">
            AND a.orgBusinessId = #{orgBusinessId}
        </if>
        <if test="orgBusinessNo != null">
            AND a.orgBusinessNo = #{orgBusinessNo}
        </if>
        <if test="status != null">
            AND a.status = #{status}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        <if test="remark != null">
            AND a.remark LIKE CONCAT('%',#{remark}, '%') 
        </if>
        order by a.createTime desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.asset.entity.WalletAssetFlows">
        SELECT
        <include refid="walletAssetFlowsColumns"/>
        FROM WalletAssetFlows a
    </select>

</mapper>

