<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.operation.mapper.AppDownloadInfoMapper">
    <!-- 基础列 -->
    <sql id="appDownloadInfoColumns">
        a.id as id,
        a.ip as ip,
        a.sourceUrl as sourceUrl,
        a.remark as remark,
        a.createTime as createTime,
        a.updateTime as updateTime
    </sql>

    <resultMap id="appDownloadInfoResultMap" type="com.anyex.apps.operation.entity.AppDownloadInfo">
        <id column="ID" property="id" />
        <result column="ip" property="ip"/>
        <result column="sourceUrl" property="sourceUrl"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.operation.entity.AppDownloadInfo">
        INSERT INTO AppDownloadInfo(
            id ,
            ip ,
            sourceUrl ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES (
            #{id} ,
            #{ip} ,
            #{sourceUrl} ,
            #{remark} ,
            #{createTime} ,
            #{updateTime} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM AppDownloadInfo WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE AppDownloadInfo SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.operation.entity.AppDownloadInfo">
        INSERT INTO AppDownloadInfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="ip != null">
                ip ,
        </if>
        <if test="sourceUrl != null">
                sourceUrl ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateTime != null">
                updateTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="ip != null">
                #{ip} ,
        </if>
        <if test="sourceUrl != null">
                #{sourceUrl} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateTime != null">
                #{updateTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.operation.entity.AppDownloadInfo">
        UPDATE AppDownloadInfo
           <set>
            <if test="ip != null">
                ip = #{ip} ,
            </if>
            <if test="sourceUrl != null">
                sourceUrl = #{sourceUrl} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO AppDownloadInfo(
            id ,
            ip ,
            sourceUrl ,
            remark ,
            createTime ,
            updateTime 
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.ip} ,
            #{item.sourceUrl} ,
            #{item.remark} ,
            #{item.createTime} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE AppDownloadInfo SET
            ip = #{item.ip} ,
            sourceUrl = #{item.sourceUrl} ,
            remark = #{item.remark} ,
            createTime = #{item.createTime} ,
            updateTime = #{item.updateTime} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.operation.entity.AppDownloadInfo">
        UPDATE AppDownloadInfo SET
            ip = #{ip} ,
            sourceUrl = #{sourceUrl} ,
            remark = #{remark} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.operation.entity.AppDownloadInfo">
        SELECT <include refid="appDownloadInfoColumns"/> FROM AppDownloadInfo a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.operation.entity.AppDownloadInfo">
        SELECT
        <include refid="appDownloadInfoColumns"/>
        FROM AppDownloadInfo a WHERE 1 = 1 <!-- and a.DEL_FLAG = 0-->
        <if test="ip != null and ip != ''">
            AND a.ip LIKE CONCAT('%',#{ip}, '%')
            /** AND a.ip = #{ip} */
        </if>
        <if test="sourceUrl != null and sourceUrl != ''">
            AND a.sourceUrl LIKE CONCAT('%',#{sourceUrl}, '%')
            /** AND a.sourceUrl = #{sourceUrl} */
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
            /** AND a.remark = #{remark} */
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
        order by a.createTime desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.operation.entity.AppDownloadInfo">
        SELECT
        <include refid="appDownloadInfoColumns"/>
        FROM AppDownloadInfo a <!--WHERE a.DEL_FLAG = 0-->
    </select>

</mapper>

