<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyex.apps.social.mapper.SnsPostLikeMapper">
    <!-- 基础列 -->
    <sql id="snsPostLikeColumns">
        a.id as id,
        a.userId as userId,
        a.postId as postId,
        a.likeUserId as likeUserId,
        a.lng as lng,
        a.lat as lat,
        a.remark as remark,
        a.isRead as isRead,
        a.createTime as createTime,
        a.updateTime as updateTime
    </sql>

    <resultMap id="snsPostLikeResultMap" type="com.anyex.apps.social.entity.SnsPostLike">
        <id column="ID" property="id" />
        <result column="userId" property="userId"/>
        <result column="postId" property="postId"/>
        <result column="likeUserId" property="likeUserId"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="remark" property="remark"/>
        <result column="isRead" property="isRead"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.anyex.apps.social.entity.SnsPostLike">
        INSERT INTO SnsPostLike(
            id ,
            userId ,
            postId ,
            likeUserId ,
            lng ,
            lat ,
            remark ,
            isRead,
            createTime ,
            updateTime
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{postId} ,
            #{likeUserId} ,
            #{lng} ,
            #{lat} ,
            #{remark} ,
            #{isRead},
            #{createTime} ,
            #{updateTime}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM SnsPostLike WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE SnsPostLike SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.anyex.apps.social.entity.SnsPostLike">
        INSERT INTO SnsPostLike
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="userId != null">
                userId ,
        </if>
        <if test="postId != null">
                postId ,
        </if>
        <if test="likeUserId != null">
                likeUserId ,
        </if>
        <if test="lng != null">
                lng ,
        </if>
        <if test="lat != null">
                lat ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="isRead != null">
                isRead ,
        </if>
        <if test="createTime != null">
                createTime ,
        </if>
        <if test="updateTime != null">
                updateTime
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="userId != null">
                #{userId} ,
        </if>
        <if test="postId != null">
                #{postId} ,
        </if>
        <if test="likeUserId != null">
                #{likeUserId} ,
        </if>
        <if test="lng != null">
                #{lng} ,
        </if>
        <if test="lat != null">
                #{lat} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="isRead != null">
                #{isRead} ,
        </if>
        <if test="createTime != null">
                #{createTime} ,
        </if>
        <if test="updateTime != null">
                #{updateTime}
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.anyex.apps.social.entity.SnsPostLike">
        UPDATE SnsPostLike
           <set>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="postId != null">
                postId = #{postId} ,
            </if>
            <if test="likeUserId != null">
                likeUserId = #{likeUserId} ,
            </if>
            <if test="lng != null">
                lng = #{lng} ,
            </if>
            <if test="lat != null">
                lat = #{lat} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="isRead != null">
                isRead = #{isRead} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO SnsPostLike(
            id ,
            userId ,
            postId ,
            likeUserId ,
            lng ,
            lat ,
            remark ,
            isRead,
            createTime ,
            updateTime
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.userId} ,
            #{item.postId} ,
            #{item.likeUserId} ,
            #{item.lng} ,
            #{item.lat} ,
            #{item.remark} ,
            #{item.isRead},
            #{item.createTime} ,
            #{item.updateTime}
            )
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE SnsPostLike SET
            userId = #{item.userId} ,
            postId = #{item.postId} ,
            likeUserId = #{item.likeUserId} ,
            lng = #{item.lng} ,
            lat = #{item.lat} ,
            remark = #{item.remark} ,
            isRead = #{item.isRead},
            createTime = #{item.createTime} ,
            updateTime = #{item.updateTime}
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.anyex.apps.social.entity.SnsPostLike">
        UPDATE SnsPostLike SET
            userId = #{userId} ,
            postId = #{postId} ,
            likeUserId = #{likeUserId} ,
            lng = #{lng} ,
            lat = #{lat} ,
            remark = #{remark} ,
            isRead = #{isRead},
            createTime = #{createTime} ,
            updateTime = #{updateTime}
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.anyex.apps.social.entity.SnsPostLike">
        SELECT <include refid="snsPostLikeColumns"/> FROM SnsPostLike a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.anyex.apps.social.entity.SnsPostLike">
        SELECT
        <include refid="snsPostLikeColumns"/>
        FROM SnsPostLike a WHERE 1 = 1
        <if test="userId != null">
            AND a.userId = #{userId}
        </if>
        <if test="postId != null">
            AND a.postId = #{postId}
        </if>
        <if test="likeUserId != null">
            AND a.likeUserId = #{likeUserId}
        </if>
        <if test="lng != null and lng != ''">
            AND a.lng LIKE CONCAT('%',#{lng}, '%')
        </if>
        <if test="lat != null and lat != ''">
            AND a.lat LIKE CONCAT('%',#{lat}, '%')
        </if>
        <if test="remark != null and remark != ''">
            AND a.remark LIKE CONCAT('%',#{remark}, '%')
        </if>
        <if test="isRead != null">
            AND a.isRead = #{isRead}
        </if>
        <if test="createTime != null">
            AND a.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND a.updateTime = #{updateTime}
        </if>
    </select>

    <select id="findListForRead" resultType="com.anyex.apps.social.model.SnsPostLikeModel">
        select
            a.id as id,
            l.id as likeId,
            a.userId as userId,
            a.postTextContent as postTextContent,
            a.postImageUrl as postImageUrl,
            a.postVideoUrl as postVideoUrl,
            a.openness as openness,
            a.viewer as viewer,
            a.lng as lng,
            a.lat as lat,
            a.city as city,
            a.viewNum as viewNum,
            a.favoriteNum as favoriteNum,
            a.likeNum as likeNum,
            a.commentNum as commentNum,
            a.shareNum as shareNum,
            a.remark as remark,
            a.createTime as createTime,
            a.updateTime as updateTime,
               l.likeUserId as likeUserId,
               ac.accountName as likeUserName,
               ac.headUrl as likeUserHeadUrl
        from SnsPost a,
             SnsPostLike l,
             Account ac
        where a.id = l.postId
          and l.likeUserId = ac.userId
          and a.userId = ${userId} and a.openness != 0
        <if test="isRead != null">
            and l.isRead = 0
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.anyex.apps.social.entity.SnsPostLike">
        SELECT
        <include refid="snsPostLikeColumns"/>
        FROM SnsPostLike a
    </select>


</mapper>

